<div class="win-container r1 personList" style="width:1000px;" ng-controller="PersonListController">
    <div class="win-header">
        <div class="win-header-text">
            Список персон
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personList')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="createPreson()">
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
        <div class="win-menu-button" style="width:250px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <table class="table">
                <thead>
                <tr>
                    <th ng-click="orders('name.lastName')">
                        Фамилия
                        <span ng-class='arrows[0] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('name.firstName')">
                        Имя
                        <span ng-class='arrows[1] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('name.middleName')">
                        Отчество
                        <span ng-class='arrows[2] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('type')">
                        Жанр
                        <span ng-class='arrows[3] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('event')">
                        Событие
                        <span ng-class='arrows[4] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in menuScope | filter:personaMenuFilter | orderBy: order">
                    <td><a href="#" ng-click="selectPerson(row.id)">{{row.name.lastName}}</a></td>
                    <td><a href="#" ng-click="selectPerson(row.id)">{{row.name.firstName}}</a></td>
                    <td><a href="#" ng-click="selectPerson(row.id)">{{row.name.middleName}}</a></td>
                    <td>{{row.type}}</td>
                    <td>{{row.event}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        
    </div>
</div>