<!-- <script type="text/javascript" src="/main/person/person.edit.js"></script> -->
<div class="win-container r3 personEdit" style="width:700px;" ng-controller="PersonCreatController">
    <div class="win-header">
        <div class="win-header-text">
            Создать персону
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#">
                <span class="fa fa-save" ng-click="save()"></span>
                <br />
                Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="col-lg-6">
                <h5>На русском</h5>
                Имя
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.Name" />
                <br />
                Фамилия
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.LastName" />
                <br />
                Отчество
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.Patronymic" />
            </div>
            <div class="col-lg-6">
                <h5>На английском</h5>
                Имя
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.NameLatin" />
                <br />
                Фамилия
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.LastNameLatin" />
                <br />
                Отчество
                <br />
                <input class="form-control" placeholder="от 3 знаков" ng-model="person.PatronymicLatin" />
            </div>
        </div>
        <hr/>
        <script type="text/ng-template" id="customTemplate.html">
            <a>
                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                <span> ({{match.model.CountryName}})</span>
            </a>
        </script>
        <div class="row">
            <div class="col-lg-6">
                Дата рождения
                <br />
                <md-content>
                    <md-datepicker ng-model="person.bithday" md-placeholder="Дата рождения"></md-datepicker>
                </md-content>
            </div>
            <div class="col-lg-6">
                Город рождения
                <br />
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Город" name="Place" uib-typeahead="item as item.Name for item in getPlaces($viewValue)"
                           ng-model="place" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                           typeahead-template-url="customTemplate.html" typeahead-min-length="3"> <!--uib-typeahead="item.Name as item.Name for item in places | filter:$viewValue">-->
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    <div ng-show="noResults">
                        <i class="glyphicon glyphicon-remove"></i> Не найдено
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                Пол
                <br />
                <select class="form-control" ng-model="person.Sex" ng-options="item.id as item.name for item in sexes"></select>
            </div>
        </div>
    </div>
</div>