<div class="win-container r2 personViewOne" style="width:800px;" ng-controller="personViewoneController">
    <div class="win-header">
        <div class="win-header-text">
            Одна персона: {{person.Name}} {{person.LastName}}
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personViewOne')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="editPerson()">
                <span class="fa fa-edit"></span>
                <br />
                Редактировать
            </a>
        </div>
        <!--<div class="win-menu-button" style="width:600px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>-->
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <div class="row" ng-if="person">
                <div class="col-lg-9">
                    <div class="row">
                       <!--  <div class="col-lg-3">
                            <img style="width:150px; height:150px"/>
                            <br/> -->
                        <div class="col-lg-4">Пол: <span ng-show="person.Sex == 0">Mужской
                            </span>
                                <span ng-show="person.Sex == 1">Женский</span>
                        </div>
<!--                         </div> -->
                        <div class="col-lg-4">
                            {{person.LastName}}
                            <br/>
                            {{person.Name}}
                            <br/>
                            {{person.Patronymic}}
                            <br/>
                            {{person.Bithday | date : 'd MMMM yyyy'}}
                        </div>
                        <div class="col-lg-4">
                            {{person.LastNameLatin}}
                            <br />
                            {{ person.NameLatin }}
                            <br />
                            {{ person.PatronymicLatin }}
                            <br />
                            {{person.Place}}, {{person.Country}}
                        </div>
                        <div class="col-lg-12 text-center">
                            <input 
                            id="the-file-input"
                            class="form-control" 
                            type="file" 
                            style="background-color: rgba(255, 0, 0, 0); border: medium none; box-shadow: none; padding: 0;" />
                            <div style="width: 100px; margin: 0px auto;">
                                <img id="some_container_div" style="width: 100px;">
                            </div>
                            <script>
                                function renderImage(file) {
                                    console.log(file);
                                    var reader = new FileReader();
                                    reader.onload = function(event) {
                                        var the_url = event.target.result;
                                        $('#some_container_div').attr('src', the_url);
                                    }
                                    reader.readAsDataURL(file);
                                }
                                $("#the-file-input").change(function() {
                                    console.log(this.files);
                                    renderImage(this.files[0]);
                                });
                            </script>
                        </div>        
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--person menu-->
                    <a href="#" class="btn btn-block btn-default" ng-click="displayNotes()">
                        <span class="fa fa-book"></span> Описание ({{counts.CountDescriptions}})
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayFacts()">
                        <span class="fa fa-bookmark"></span> Факты ({{counts.CountFacts}})
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayConnections()">
                        <span class="fa fa-child"></span> Связи ({{counts.CountConnects}})
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayMedia()">
                        <span class="fa fa-file-video-o"></span> Медиа и файлы ({{counts.CountMedias}})
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayInternet()">
                        <span class="fa fa-cloud"></span> Интернет ({{counts.CountLinks}})
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayAntro()">
                        <span class="fa fa-heart-o"></span> Антропометрия ({{counts.CountAntros}})
                    </a>

                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="panel-info">
            <h5>Последние 10 событий</h5>
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Даты проведения</th>
                        <th>Организатор</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                    <tr>
                        <td>Концерт Большого театра</td>
                        <td>12.12.2015-18.12.2015</td>
                        <td>Большой театр</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

            