<div class="win-container r2 personViewOne" style="width:1000px;" ng-controller="personViewoneController">
    <div class="win-header">
        <div class="win-header-text">
            Одна персона: {{person.Name}} {{person.LastName}}
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personViewOne')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="createPreson()">
                <span class="fa fa-edit"></span>
                <br />
                Редактировать
            </a>
        </div>
        <!--<div class="win-menu-button" style="width:600px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>-->
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <div class="row" ng-if="person">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-3">
                            <img style="width:150px; height:150px"/>
                            <br/>
                            <div class="radio-input-container">
                                <div class="radio-input">
                                    <input type="radio" value="None" ng-disabled="true" id="sexM" ng-checked="person.Sex == 0" ng-click="person.Sex = 0; person.IsChange = true" name="check">
                                    <label for="sexM"></label>
                                </div>

                                <span>M</span>
                            </div>

                            <div class="radio-input-container">
                                <div class="radio-input">
                                    <input type="radio" value="None" ng-disabled="true" id="sexF" ng-checked="person.Sex == 1" ng-click="person.Sex = 1; person.IsChange = true" name="check">
                                    <label for="sexF"></label>
                                </div>

                                <span>Ж</span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            {{person.LastName}}
                            <br/>
                            {{person.Name}}
                            <br/>
                            {{person.Patronymic}}
                            <br/>
                            {{person.Bithday | date : 'd MMMM yyyy'}}
                        </div>
                        <div class="col-lg-4">
                            {{person.LastNameLatin}}
                            <br />
                            {{ person.NameLatin }}
                            <br />
                            {{ person.PatronymicLatin }}
                            <br />
                            {{person.Place}}, {{person.Country}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--person menu-->
                    <a href="#" class="btn btn-block btn-default">
                        <span class="fa fa-book"></span> Описание (0)
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayFacts()">
                        <span class="fa fa-bookmark"></span> Факты (0)
                    </a>
                    <a href="#" class="btn btn-block btn-default">
                        <span class="fa fa-child"></span> Связи (0)
                    </a>
                    <a href="#" class="btn btn-block btn-default">
                        <span class="fa fa-file-video-o"></span> Медиа и файлы (0)
                    </a>
                    <a href="#" class="btn btn-block btn-default">
                        <span class="fa fa-cloud"></span> Интернет (0)
                    </a>
                    <a href="#" class="btn btn-block btn-default">
                        <span class="fa fa-heart-o"></span> Антропометрия (0)
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
