<div class="win-container r1 personList" style="width:1000px;" ng-controller="EventListController">
    <div class="win-header">
        <div class="win-header-text">
            Список мероприятий
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personList')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="createEvent()" >
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
        <div class="win-menu-button" style="width:250px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <table class="table">
                <thead>
                <tr>
                    <th ng-click="orders('Name')" >
                        Название
                        <span ng-class='arrows[0] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('EventParentCategory')" >
                        Категория
                        <span ng-class='arrows[1] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('EventCategory')" >
                        Подкатегория 
                        <span ng-class='arrows[2] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('Organizer')" >
                        Организатор 
                        <span ng-class='arrows[3] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                    <th ng-click="orders('AgeLimit')">
                        Возрастные ограничегия 
                        <span ng-class='arrows[4] ? "fa fa-caret-up":"fa fa-caret-down"' ></span>
                    </th>
                </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="row in events | filter:personaMenuFilter | orderBy: order">
                    <td><a href="#" ng-click="selectEvents(row.Id)">{{row.Name}}</a></td>
                    <td><a href="#" ng-click="selectEvents(row.Id)">{{row.EventParentCategory}}</a></td>
                    <td><a href="#" ng-click="selectEvents(row.Id)">{{row.EventCategory}}</a></td>
                    <td>{{row.Organizer}}</td>
                    <td>{{row.AgeLimit}}+</td>
                </tr> 
                    <!--<tr >
                        <td><a href="#" ng-click="selectEvents(1)">Новогодний симфонический концерт Большого театра</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Театр</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Командные виды</a></td>
                        <td>Большой театр</td>
                        <td>12+</td>
                    </tr>
                    <tr >
                        <td><a href="#" ng-click="selectEvents(1)">Новогодний симфонический концерт Большого театра</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Театр</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Командные виды</a></td>
                        <td>Большой театр</td>
                        <td>12+</td>
                    </tr>
                    <tr >
                        <td><a href="#" ng-click="selectEvents(1)">Новогодний симфонический концерт Большого театра</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Театр</a></td>
                        <td><a href="#" ng-click="selectEvents(1)">Командные виды</a></td>
                        <td>Большой театр</td>
                        <td>12+</td>
                    </tr>-->
                </tbody>
            </table>
        </div>
        
    </div>
</div>