<div class="win-container r2 personViewOne" style="width:800px;" ng-controller="EventsViewoneController">
    <div class="win-header">
        <div class="win-header-text">
            Мероприятие: {{person.Name}} {{person.LastName}}
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personViewOne')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="editEvent()">
                <span class="fa fa-edit"></span> Редактировать
            </a>
        </div>
        <!--<div class="win-menu-button" style="width:600px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>-->
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <div class="row" ng-if="event">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <br/>
                            <h5>Название:  {{event.Name}}</h5>
                            <br/>
                        </div>
                        <div class="col-lg-6">
                            <br/>
                            Катагория: {{event.EventParentCategory}}
                            <br/>
                            <br/>
                            Подкатегория: {{event.EventCategory}}
                            <br/>
                        </div>
                        <div class="col-lg-6">
                            <br/>
                            Организатор: {{row.Organizer}}
                            <br/>
                            <br/>
                            Возрастные ограничегия: {{row.AgeLimit}}+
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--person menu-->
                    <a href="#" class="btn btn-block btn-info" ng-click="displayNotes()">
                        <span class="fa fa-book pull-left"></span> Описание ({{counts.CountDescriptions}})
                    </a>
                    <a href="#" class="btn btn-block btn-info" ng-click="displayFacts()">
                        <span class="fa fa-bookmark pull-left"></span> Факты ({{counts.CountFacts}})
                    </a>
                    <a href="#" class="btn btn-block btn-info" ng-click="displayConnections()">
                        <span class="fa fa-child pull-left"></span> Связи ({{counts.CountConnects}})
                    </a>
                    <a href="#" class="btn btn-block btn-info" ng-click="displayMedia()">
                        <span class="fa fa-file-video-o pull-left"></span> Медиа и файлы ({{counts.CountMedias}})
                    </a>
                    <a href="#" class="btn btn-block btn-info" ng-click="displayUser()">
                        <span class="fa fa-cloud pull-left"></span> Права и пользователи ({{counts.CountLinks}})
                    </a>
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">
                <h5>События этого мероприятия</h5>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Даты проведения</th>
                            <th>Билетов</th>
                            <th>Продано</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                        <tr>
                            <td>Концерт Большого театра</td>
                            <td>12.12.2015-18.12.2015</td>
                            <td>6000</td>
                            <td>1320</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
