<div class="win-container r3 personAntro" style="width:600px;" ng-controller="PersonAntroController">
    <div class="win-header">
        <div class="win-header-text">
            Антропометрия
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personAntro')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addAntro()">
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table" cg-busy="Promise">
            <thead>
                <tr>
                    <th>Данные</th>
                    <th>Ассоциация</th>
                    <th>Использование</th>
                    <th>Изменен</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in antro">
                    <td>
                        <a href="#" ng-click="addAntro(item)">
                            <span>{{item.AntroName}}</span><br>
                            <span>{{item.Value}}</span>
                        </a>
                    </td>
                    <td>
                        персоны ({{item.Links.PersonLinks.length}})
                        <br />
                        мероприятия ({{item.Links.EventLinks.length}})
                    </td>
                    <td>---</td>
                    <td>
                        <span ng-if="item.LastChange">
                            {{item.LastChange.UserName}}<br>
                            {{item.LastChange.localdate | amCalendar}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>