<div class="win-container r3 personMedia" style="width:800px;" ng-controller="PersonMediaController">
    <div class="win-header">
        <div class="win-header-text">
            Медиа
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personMedia')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addMedia()">
                <span class="fa fa-plus"></span>
                <br />
                Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Данные</th>
                    <th>Медиа</th>
                    <th>Ассоциация</th>
                    <th>Изменен</th>
                    <th>Теги</th>
                    <th>Использование</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Event
                    <br/>
                    Event place
                    <br/>
                    event date
                    <br/>
                    persons of event
                    <br/>
                    description
                    </td>
                    <td>
                        Photo
                        <br/>
                        <a href="//photo-url" target="_blank"/>
                        <br />
                        <img style="width:50px; height:50px"/><!--preview-->
                    </td>
                    <td>TODO: associated</td>
                    <td>TODO: changed by</td>
                    <td>TODO: tag 1, tag2, tag3, tag4</td>
                    <td>TODO: used</td>
                </tr>
                <tr>
                    <td>
                        Event
                        <br />
                        Event place
                        <br />
                        event date
                        <br />
                        persons of event
                        <br />
                        description
                    </td>
                    <td>
                        Photo
                        <br />
                        <a href="//photo-url" target="_blank" />
                        <br />
                        <img style="width:50px; height:50px" /><!--preview-->
                    </td>
                    <td>TODO: associated</td>
                    <td>TODO: changed by</td>
                    <td>TODO: tag 1, tag2, tag3, tag4</td>
                    <td>TODO: used</td>
                </tr>
                <tr>
                    <td>
                        Event
                        <br />
                        Event place
                        <br />
                        event date
                        <br />
                        persons of event
                        <br />
                        description
                    </td>
                    <td>
                        Photo
                        <br />
                        <a href="//photo-url" target="_blank" />
                        <br />
                        <img style="width:50px; height:50px" /><!--preview-->
                    </td>
                    <td>TODO: associated</td>
                    <td>TODO: changed by</td>
                    <td>TODO: tag 1, tag2, tag3, tag4</td>
                    <td>TODO: used</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>