<div class="win-container r3 disPersonNotes" style="width:800px;" ng-controller="personNotesController">
    <div class="win-header">
        <div class="win-header-text">
            Описание персоны
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotes')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
    </div>

    <div class="win-content">
        <h5>Все теги персоны</h5>
        <i>Ноги, Руки, главноеХвост</i>
        <div class="tags">
            <tags-input ng-model="personTags" display-property="Name" add-on-paste="true" placeholder="Ключи">
                <auto-complete source="loadTags($query)" min-length="0" debounce-delay="0" template="my-custom-template" />
            </tags-input>
        </div>
        <script type="text/ng-template" id="my-custom-template">
            <div class="right-panel">
                <span ng-bind-html="$highlight($getDisplayText())"></span>
                <span ng-show="data.UsesType.length">({{data.UsesType | join: ','}})</span>
            </div>
        </script>
        <h5>Все описания для персоны</h5>
        <table class="table" cg-busy="Promise">
            <thead>
                <tr>
                    <th>Страница</th>
                    <th>Блок</th>
                    <th>Версия страницы</th>
                    <th>Статич. опис.</th>
                    <th>Тизер</th>
                    <th>Адаптивных</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in descriptionlist">
                    <td>
                        <a href="#" ng-click="displaySource(item.PageBlock)">
                            <span ng-show="item.PageBlock">{{getSchemaName(item)}}</span>
                            <span ng-show="!item.PageBlock">Без источника</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="displaySource(item.PageBlock)">
                            <span ng-show="item.PageBlock">{{item.PageBlock.Type.Name}}</span>
                            <span ng-show="!item.PageBlock">Без источника</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="displaySource(item.PageBlock)">
                            <span ng-show="item.PageBlock">TODO Подборка "Про ноги"</span>
                            <span ng-show="!item.PageBlock">Без источника</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="displayNotesStatic(item.StaticDescription)">
                            <span ng-show="item.RequiredStaticDescription && item.StaticDescription">Указан</span>
                            <span ng-show="!item.RequiredStaticDescription">Не требуется</span>
                            <span ng-show="item.RequiredStaticDescription && !item.StaticDescription">Не указан</span>
                        </a>
                    </td>
                    <td>
                        <a href="#" ng-click="displayNotesTizer(item)">
                            <span ng-show="item.DescriptionText">Указан</span>
                            <span ng-show="!item.DescriptionText">Не указан</span>
                        </a>
                    </td>
                    <td><a href="#" ng-click="displayNotesAdaptDescription()">TODO 8</a></td>
                </tr>
                <!--<tr>
                    <td><a href="#" ng-click="displaySource()">Персона/Сирена Уильямс</a></td>
                    <td><a href="#" ng-click="displaySource()">Другие персоны подборки</a></td>
                    <td><a href="#" ng-click="displaySource()">Подборка "Про ноги"</a></td>
                    <td><a href="#" ng-click="displayNotesStatic()">Указан</a></td>
                    <td><a href="#" ng-click="displayNotesTizer()">Указан</a></td>
                    <td><a href="#" ng-click="displayNotesAdaptDescription()">8</a></td>
                </tr>
                <tr>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displayNotesStatic()">Не требуется</a></td>
                    <td><a href="#" ng-click="displayNotesTizer()">Указан</a></td>
                    <td><a href="#" ng-click="displayNotesAdaptDescription()">6</a></td>
                </tr>
                <tr>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displaySource()">Без источника</a></td>
                    <td><a href="#" ng-click="displayNotesStatic()">Не указан</a></td>
                    <td><a href="#" ng-click="displayNotesTizer()">Не указан</a></td>
                    <td><a href="#" ng-click="displayNotesAdaptDescription()">11</a></td>
                </tr>-->
            </tbody>
        </table>
    </div>
</div>