<div class="win-container r3 personFacts" style="width:800px;" ng-controller="PersonFactsController">
    <div class="win-header">
        <div class="win-header-text">
            Факты о персоне
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personFacts')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addFact()">
                <span class="fa fa-plus"></span>
                <br />
                Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>Факт</th>
                        <th>Статус/изменен</th>
                        <th>Связь</th>
                        <th>Источник</th>
                        <th>Использование</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in factlist">
                        <td><textarea type="text" class="form-control" style="min-height: 80px" data-ng-model="item.FactText" ng-disable="true"
                            ng-trim="false" ng-model-options="{ allowInvalid: true }" ></textarea></td>
                        <td>TODO: status
                            <br/>
                            <span ng-if="item.LastChange">
                                {{item.LastChange.UserName}}<br>
                                {{item.LastChange.Date | amCalendar}}
                            </span>
                        </td>
                        <td><span>{{item.FactType.Name}} / {{item.FactType.Descript}}</span></td>
                        <td>TODO: source</td>
                        <td>TODO: used</td>
                    </tr>
                </tbody>
            </table>
    </div>
</div>