<div class="win-container r3 personConnections" style="width:600px;" ng-controller="PersonConnectionsController">
    <div class="win-header">
        <div class="win-header-text">
            Связи
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personConnections')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addConnection()">
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table" cg-busy="Promise">
            <thead>
                <tr>
                    <th>Что связываем</th>
                    <th>Тип связи</th>
                    <th>Характеристика</th>
                    <th>Изменен</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in connectionList">
                    <td>   <a href="" ng-click="editConnection(item)">
                        <span ng-show="item.id_ConnectionType > 1">{{item.Event.Name}}</span>
                        <span ng-show="item.id_ConnectionType === 1">{{item.PersonConnectTo.LastName}} {{item.PersonConnectTo.Name}}</span></a>
                    </td>
                    <td><span>{{item.PersonConnectionType}}</span></td>
                    <td><span>{{item.Description}}</span></td>
                    <td>
                        <span ng-if="item.LastChange">
                            {{item.LastChange.UserName}}<br>
                            {{item.LastChange.localdate | amCalendar}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>