<div class="win-container r3 personInternet" style="width:700px;" ng-controller="PersonInternetController">
    <div class="win-header">
        <div class="win-header-text">
            Интернет
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personInternet')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addInternet()">
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Тип</th>
                    <th>Ссылка</th>
                    <th>Комментарий</th>
                    <th>Активность</th>
                    <th>Назначение</th>
                    <th>Изменен</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in linklist">
                    <td><a href="#" ng-click="addInternet(item)">{{item.PersonSocialLinkType}}</a></td>
                    <td>{{item.PersonSocialLinkType}}<a href="{{item.Link}}" target="_blank"> <span class="fa fa-external-link"></span></a></td>
                    <td><span>{{item.Description}}</span></td>
                    <td></td>
                    <td><span>{{getDestination(item.Destination)}}</span></td>
                    <td>
                        <span ng-if="item.LastChange">
                            {{item.LastChange.UserName}}<br>
                            {{item.LastChange.Date | amCalendar}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>