<div class="main-menu__logo text-center">
    <img src="/app-content/images/logo-small.png" class="img-circle" ng-click="Logout()">

    <p>Vitaly B. <i class="glyphicon glyphicon-pencil"></i></p>
    <p>v 0.0.3.17</p>
</div>

<div class="main-menu__list">
    <div class="row">
        <ul class="nav nav-list">
            <li ng-repeat="item in menu" ng-class="{ active: item.active }" ng-click="{ active: true }">
                <a href="/#{{ item.href }}">{{ item.title }} <span ng-if="item.countAll" class="small">&nbsp; <span class="text-success">{{ item.countActive }}</span> / {{item.countAll}}</span></a>

                <button ng-if="item.customMenu && item.active"
                        ng-click="ToggleCustomMenu(item.customMenu.expand, item.customMenu.toggle)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </li>
        </ul>
    </div>
</div>