.clearBtn {
	border: none;
	background-color: rgba(95, 158, 160, 0);
}
.activeOrder {
	color: #3c763d;;
}
.form_custom {
	min-height: 100vh;
	height: calc(100% - 140px);
	padding-bottom: 19px;
}
.messager {
	padding: 10px;
}
.messager a{
	float: right;
	position: relative;
	top: -30px;
}
.messager_error {
	background-color: #F2DEDE;
}
.messager_sucsses {
	background-color: #DFF0D8;
}

.win-content h1, .win-content h2, .win-content h3, .win-content h4, .win-content h5, .win-content p, .win-content span  {
	white-space: normal !important;
}
.win-content p {
	font-weight: 400;
}
