<div class="text-center logo">
    <img src="/app-content/images/logo.png" class="img-circle" alt="Cinque Terre" width="100" height="100">
</div>
<ul class="nav nav-list">
    <li ng-repeat="link in menu" ng-class="{ active: isActive('{{ link.href }}') }">
        <a href="/#{{ link.href }}">{{ link.title }}</a>
        <button ng-if="link.button" ng-click="ShowMenu(link.menu,link.content,link.w)" type="button"
                class="btn btn-info green-button"><span
                class="glyphicon glyphicon-plus"></span></button>
    </li>
</ul>