<div class="col-md-6 col-md-offset-3">
    <h2 ng-if="language === 'ru'">Регистрация</h2>
    <h2 ng-if="language === 'us'">Registration</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label ng-if="language === 'ru'" for="firstName">Имя</label>
            <label ng-if="language === 'us'" for="firstName">First Name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.first_name" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label ng-if="language === 'ru'" for="Text1">Фамилия</label>
            <label ng-if="language === 'us'" for="Text1">Last Name</label>
            <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.last_name" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>

        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label ng-if="language === 'ru'" for="company">Компания</label>
            <label ng-if="language === 'us'" for="company">Company</label>
            <input id="company" type="text" name="company" class="form-control" ng-model="vm.user.company" />
            <span ng-show="form.password.$dirty && form.company.$error.required" class="help-block"></span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label ng-if="language === 'ru'" for="post">Должность</label>
            <input type="text" name="post" id="post" class="form-control" ng-model="vm.user.post" required />
            <span ng-show="form.post.$dirty && form.post.$error.required" class="help-block">Post is required</span>
        </div>




        <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
            <label for="username">Email</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.email" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group">
            <label ng-if="language === 'ru'" for="telephone">
                Телефон
            </label>
            <label ng-if="language === 'us'" for="telephone">
                Phone Number
            </label>
            <input type="text" name="telephone" id="telephone" class="form-control" ng-model="vm.user.phone" />
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="newsfeed">
                <input type="checkbox" name="newsfeed" id="newsfeed" class="form-control" ng-model="vm.user.newsletters" />
                Сгенерировать пароль автоматически
            </label>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label ng-if="language === 'ru'" for="password">Пароль</label>
            <label ng-if="language === 'us'" for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>


        <!--
                <div
                        vc-recaptcha
                        key="'6LdbfxoTAAAAAB4TAsYqyOsY6YiKHa4pAE0BPlFp'"
                        theme="'light'"
                ></div>
                <script
                        src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
                        async defer
                ></script>
        -->
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">Зарегистрироваться</button>
            <img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a href="#/sign-in" class="btn btn-link">Отмена</a>
        </div>
    </form>
</div>
