<script src="/scripts/isteven-multi-select.js"></script>
<div class="col-md-24">
    <div class="row persona-info__small-block">
        <div class="col-md-24">
            <div class="col-md-2">
                <img src="http://placehold.it/50x50" alt="Placeholder">
            </div>

            <div class="col-md-6 persona-info__name-row">
                <div class="row" ng-show="person.LastName || person.Name">
                    {{ person.LastName }} {{ person.Name }} <span class="separator"></span>
                    <strong>Описание</strong>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-24">
            <ul class="nav nav-tabs">
                <li class="green">
                    <a data-target="#description" data-toggle="tab">
                        <span class="glyphicon glyphicon-plus"></span>
                        Описание
                    </a>
                </li>
                <li class="green">
                    <a data-target="#facts" data-toggle="tab"> <span class="glyphicon glyphicon-plus"></span> Факты</a>
                </li>
                <li>
                    <a data-target="#connections" data-toggle="tab">Связи</a>
                </li>
            </ul>
        </div>

        <div class="col-md-24">
            <ul class="progress-wizard col-md-18" style="margin-top: 20px;">
                <li class="pre">
                    ШАГИ
                </li>
                <li class="passed active"><span>1/ Источник</span></li>
                <li><span>2/ Схема</span></li>
                <li><span>3/ Превью</span></li>
                <li><span>4/ Публикация</span></li>
            </ul>

            <div class="col-md-4">
                <div class="row">
                    <a type="button" href="#/main/persona/create/schema" class="btn btn-blue btn-lg col-md-18">
                        далее
                    </a>
                </div>

                <div class="row">
                    <p class="extra-small blue">Сохранить и перейти на следующий шаг</p>
                </div>
            </div>
        </div>


        <div class="col-md-24 persona-create">
            <div class="row">
                <div class="col-md-7">
                    <button class="btn btn-lg btn-danger">
                        Создать схему без источника
                    </button>

                    <p class="extra-small text-danger">
                        Источник можно добавить позднее или же привязать эту схему к новой версии страницы или подборки
                        при
                        их создании
                    </p>

                </div>
            </div>


            <div class="row persona-create__block">
                <div class="col-md-24 persona-create__title">
                    / Страница <span class="required"></span>
                </div>

                <div class="col-md-24">
                    <div class="row">
                        <div class="col-md-5">
                            <label for="persona__page">Страница</label>
                            <select class="form-control" id="persona__page">
                                <option>Персона</option>
                            </select>
                        </div>
                        <div class="col-md-5">
                            <label for="persona__concrete">Уточнение</label>
                            <!--<select >
                                <option>Серена Уильямс</option> ng-change="selectedPerson(person.Id)"
                            </select>-->
                            <select class="form-control" id="persona__concrete" ng-model="person"
                                    ng-options="type as type.LastName + ' ' + type.Name for type in persons"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row persona-create__block">
                <div class="col-md-24 persona-create__title">
                    / Блок (Подборка и т.п.)
                </div>
                <div class="col-md-22">
                    <div class="row">
                        <div class="col-md-8">
                            <!--<label for="persona__block"></label>-->
                            <select class="form-control" id="persona__block">
                                <option>Другие персоны подборки</option>
                            </select>
                        </div>
                    </div>
                    <!--<div ng-show="morePerson" isteven-multi-select input-model="morePerson" output-model="otherPerson" helper-elements="" translation="localLang"
                         button-label="name" item-label="name" tick-property="ticked">
                    </div>-->
                    <!--<select class="form-control" id="persona__block" ng-model="otherPerson"
                        ng-options="type as type.LastName + ' ' + type.Name for type in persons | filter : { Id: '!' + person.Id}"></select>-->
                </div>

            </div>

            <div class="row persona-create__block">
                <div class="col-md-24 persona-create__title">
                    / Версия страницы и\или блока <span class="required"></span>
                </div>

                <div class="col-md-22">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="persona_version__page"></label>
                            <select class="form-control" id="persona_version__page">
                                <option>Переход с подборки “про ноги”</option>
                            </select>

                            <div class="extra-small" style="padding-top: 5px;">
                                <span class="text-success">Сидорова Анна</span>, 117 см <br>
                                Мария Шарапова, 123 см <br>
                                Криштиану Роналду, 119 см
                            </div>
                        </div>

                        <div class="col-md-8">
                            <label for="persona_version__block"></label>
                            <select disabled="disabled" class="form-control" id="persona_version__block">
                                <option>версия задана страницей</option>
                            </select>
                        </div>

                        <div class="col-md-8">
                            <span class="big">Ключи страницы \ блока \ первоисточника</span>

                            <div class="tags">
                                <span>Ноги</span>
                                <span>Длинные</span>
                                <span>Теннис</span>
                                <span>Ноги</span>
                                <span>Длинные</span>
                                <span class="yellow">Руки</span>
                                <span class="green">Сет</span>
                                <span class="red">Родители</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>