<div class="text-center logo">
    <img src="/app-content/images/logo.png" class="img-circle" alt="Cinque Terre" width="150" height="150">
</div>
<ul class="nav nav-list">
    <li class="active"><a href="#/main/events">Мероприятия</a></li>
    <li class="active"><a href="#/main/events-is">События</a></li>
    <li class="active"><a href="#/main/platform">Площадки</a></li>
    <li class="active"><a href="#/main/halls">Залы</a></li>
    <li class="divider"></li>
    <li class="active"><a href="#/main/role">Роли</a></li>
    <li class="active"><a href="#/main/user">Пользователи</a></li>
</ul>
