<div id="close-wr">
    <button ng-click="HideUserMenu()" type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div id="search-wr" class="form-group">
    <input type="search" class="form-control form-control-search input-lg" id="search"
           placeholder="(быстрый поиск) email, телефон, имя, фамилия, компания, событие, роль"
           ng-model="searchUserMenu">
</div>
<div id="menu-wr">
<ul class="nav nav-list">
    <li ng-repeat=" link in usermenu | filter:searchUserMenu " ng-class="{ active: link.active }">
        <a href="/#/main/user/profile/{{ link.id }}">{{ link.title }}</a>
    </li>
</ul>
</div>
<div id="plusbutton">
    <button ng-mouseenter="PlusOver()" class="btn btn-success btn-lg btn-block"><span class="glyphicon glyphicon-plus"></span></button>
</div>
<div id="addbutton" ng-mouseleave="PlusOut()" class="btn-group-vertical btn-block">
    <button ng-click="UserInvite()" class="btn btn-success btn-lg btn-block invite">Пригласить</button>
    <div></div>
    <button ng-click="UserAdd()" class="btn btn-success btn-lg btn-block register">Зарегистрировать</button>
</div>
