<div class="win-container r1 userList" style="width:1000px;" ng-controller="MainUserListController">
    <div class="win-header">
        <div class="win-header-text">
            Список пользователей
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disReport')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="createUser()">
                <span class="fa fa-plus"></span> Добавить
            </a>
        </div>
        <div class="win-menu-button">
            <a href="#" ng-click="inviteUser()">
                <span class="fa fa-magnet"></span> Пригласить
            </a>
        </div>
    </div>

    <div class="win-content" cg-busy="Promise">
        
        <div class="panel-info">
            <table class="table">
                <thead>
                <tr>
                    <th>Имя</th>
                    <th>Компания</th>
                    <th style="width: 200px; text-wrap: normal">Событие</th>
                    <th>Роль</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in userlist">
                    <td>
                        <a href="" ng-click="showUser()">{{row.LastName}} {{row.Name}}</a>
                    </td>
                    <td>
                        <a href="" ng-click="showUser()">{{row.Company}}</a>
                    </td>
                    <td style="width: 200px; text-wrap: normal">
                        <a href="" ng-click="showUser()">{{row.event}}</a>
                    </td>
                    <td>
                        <a href="" ng-click="showUser()">{{row.role}}</a>
                    </td>
                    <td class="{{row.StatusName}}">
                        <a href="" ng-click="showUser()">{{row.StatusDescription}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>