<div class="win-container r3 userCreate" style="width:350px;" ng-controller="UserEditController">
    <div class="win-header">
        <div class="win-header-text">
            Редактирование
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('userCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="save()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'" ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-info" cg-busy="Promise">
            Имя
            <br/>
            <input class="form-control" placeholder="от 3 знаков" ng-model="user.Name"/>   
            <br />         
            Фамилия
            <br />
            <input class="form-control" placeholder="от 3 знаков" ng-model="user.LastName"/>
            <br />
            Компания
            <br />
            <input class="form-control" placeholder="от 3 знаков" ng-model="user.Company"/>
            <br />
            Должность
            <br />
            <input class="form-control" placeholder="от 3 знаков" ng-model="user.Position"/>
            <br />
            Мейл
            <br />
            <input class="form-control" placeholder="example@example.ru" ng-model="user.Email"/>
            <br />
            Телефон
            <br />
            <input class="form-control" placeholder="+7 999 999 99 99" ng-model="user.Phone"/>
            <br />            
            Пароль
            <br />
            <input class="form-control" placeholder="*******" ng-model="user.Password"/>
            <br />
            <label>
                <input type="checkbox" ng-click="generatePassword()" id="generatePassword" value="">
                <span ng-if="passtype=='text'" class="glyphicon glyphicon-ok"></span>
                <span ng-if="passtype=='password'" class="glyphicon"></span>
                Сгенерировать пароль автоматически
            </label>
            <br/>
            <br/>
            <label>
                <input type="checkbox" value="" name="noletter" ng-model="user.NotSendWelcome">
                <span ng-if="user.NotSendWelcome" class="glyphicon glyphicon-ok"></span>
                <span ng-if="!user.NotSendWelcome" class="glyphicon"></span>
                Не отправлять Welcome Letter и др. письма
            </label>

            <div class="form-group">
                <select name="role" id="role"
                        ng-model="user.RoleId" class="form-control"
                        ng-options="role.Id as role.Name for role in roles"
                        required>
                    <option value="">Выберите роль</option>
                </select>
                <label for="role" class="small text-muted">Роль для ограничения прав</label>
            </div>
        </div>
    </div>
</div>