<div class="win-container r2 personViewOne" style="width:800px;" ng-controller="UserViewoneController">
    <div class="win-header">
        <div class="win-header-text">
            Пользователь: 
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personViewOne')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="editUser()">
                <span class="fa fa-edit"></span> Редактировать
            </a>
        </div>
        <!--<div class="win-menu-button" style="width:600px;">
            <input class="form-control" placeholder="Имя, фамилия, отчество, событие" ng-model="personaMenuFilter" />
        </div>-->
    </div>
    <div class="win-content">
        <div class="panel-info" cg-busy="Promise">
            <div class="row" ng-if="person">
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-6">
                            <br>
                            <p>Имя: </p>
                            <br>
                            <p>Фамилия: </p>
                            <br>
                            <p>Компания: </p>
                            <br>
                            <p>Роль: </p>
                            <br>
                           
                        </div>
                        <div class="col-lg-6">
                            <br>
                            <p>Должность: </p>
                            <br>
                            <p>Мейл: </p>
                            <br>
                            <p>Телефон: </p>
                            <br>
                            <p>Статутс: </p>
                            <br>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-3">
                    <!--person menu-->
                    <a href="#" class="btn btn-block btn-default" ng-click="displayStatistic()">
                        <span class="fa fa-book"></span> Статитстика ()
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayMessege()">
                        <span class="fa fa-bookmark"></span> Сообщения ()
                    </a>
                    <a href="#" class="btn btn-block btn-default" ng-click="displayEntry()">
                        <span class="fa fa-child"></span> Входы ()
                    </a>
                    
                    <!-- <a href="#" class="btn btn-block btn-default" ng-click="displayAntro()">
                        <span class="fa fa-heart-o"></span> Антропометрия ({{counts.CountAntros}})
                    </a> -->
                </div>
            </div>
        </div>
    </div>
</div>
