<div class="win-container r1 userList" style="width:800px;" ng-controller="MainUserListController">
    <div class="win-header">
        <div class="win-header-text">
            Список пользователей
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disReport')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="createUser()">
                <span class="fa fa-plus"></span>
                <br />
                Добавить
            </a>
        </div>
        <div class="win-menu-button">
            <a href="#">
                <span class="fa fa-magnet"></span>
                <br />
                Пригласить
            </a>
        </div>
    </div>
    <div class="win-content">

        <div class="panel-info" cg-busy="Promise">
            <table class="table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Компания</th>
                        <th>Событие</th>
                        <th>Роль</th>
                        <th>Статус</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in userlist">
                        <td>{{row.fname}} {{row.sname}}</td>
                        <td>{{row.company}}</td>
                        <td>{{row.event}}</td>
                        <td>{{row.role}}</td>
                        <td>{{row.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>