<div class="row full-height">
    <div class="col-md-5 custom-menu__container full-height">
        <div class="row">
            <div class="form-group" style="padding-bottom: 20px;">
                <input type="search" class="search-test" id="search"
                       placeholder="(быстрый поиск) email, телефон, имя, фамилия, компания, событие, роль"
                       ng-model="searchEventIsMenu">
            </div>

            <ul class="nav nav-list">
                <li ng-repeat="link in eventsislist | filter:searchEventIsMenu" ng-if="!link.invite && link.event!='-'"
                    ng-class="{ active: link.id==id }">
                    <a ng-href="/#/main/event-is/detail/{{ link.id }}" class="event">
                        <span ng-if="link.success" class="bsuccess"></span>
                        <span ng-if="link.warning" class="bwarning" ng-class="{s:link.success}"></span>
                        <span ng-if="link.danger" class="bdanger" ng-class="{s:link.success}"></span>

                        <span ng-if="link.msuccess" class="msuccess"></span>
                        <span ng-if="link.mwarning" class="mwarning"></span>
                        <span ng-if="link.mdanger" class="mdanger"></span>
                        {{ link.event }}</a>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-md-19">
        <div id="eventiscontent" ui-view>

        </div>
    </div>
</div>