<div class="win-container r2 r5 disDicEventOrg" style="width:500px;" ng-controller="DictionaryEventOrgController">
    <div class="win-header">
        <div class="win-header-text">
            Организаторы
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disDicEventOrg')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <div class="panel panel-default" cg-busy="Promise">
            <div class="panel-heading">
                <h5>Редактирование</h5>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" ng-model="editItem.Name" />
                <br />
                <button class="btn btn-default" ng-click="saveChanges()">Сохранить</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in socialtypes">
                    <td>{{row.Name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
