<div class="win-container r2 r5 disDicPersonWTF" style="width:300px;" ng-controller="DictionaryPersonWTFController">
    <div class="win-header">
        <div class="win-header-text">
            Источники связей
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disDicPersonWTF')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
    </div>
    <div class="win-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h5>Редактирование</h5>
            </div>
            <div class="panel-body">
                <input type="text" class="form-control" ng-model="editItem.Name" />
                <br />
                <button class="md-button" ng-click="saveChanges(editItem)">Сохранить</button>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Название</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in userPageCategories">
                    <td><a href="#" ng-click="editItem = item">{{row.Name}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
