<div class="win-container r3 personInternet" style="width:600px;" ng-controller="EventsUsersController">
    <div class="win-header">
        <div class="win-header-text">
            Права и пользователи
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personInternet')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="addUser()">
                <span class="fa fa-plus"></span>
                <br />
                Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>Уровень доступа</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="#" ng-click="addUser()">Admin/Администратор портала</a></td>
                    <td>Оператор</td>
                </tr>
                <tr>
                    <td><a href="#" ng-click="addUser()">Admin/Администратор портала</a></td>
                    <td>Редактор</td>
                </tr>
                <tr>
                    <td><a href="#" ng-click="addUser()">Admin/Администратор портала</a></td>
                    <td>Аккаунт-менеджер</td>
                </tr>
                <tr>
                    <td><a href="#" ng-click="addUser()">Admin/Администратор портала</a></td>
                    <td>Представитель организации</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>