<div class="col-md-8 col-md-offset-2">
	<div class="row">
		<div class="col-md-8">
			<h2>Сменить пароль</h2>
		</div>
		<div class="col-md-4">
			<p>

			</p>
		</div>
	</div>
	<p class="text-center">Введите новый пароль:</p>

	<p>
		<input type="password" class="form-control text-center" ng-model="vm.password1" />
	</p>

	<p class="text-center">Повторите пароль:</p>

	<p>
		<input type="password" class="form-control text-center" ng-model="vm.password2" />
	</p>
	<p class="text-center error-block" ng-if="vm.passwordInvalid">
		Пароли введены некорректно!
	</p>
	<p class="text-center error-block" ng-if="!vm.passwordInvalid">

	</p>

	<p class="text-right">
		<a class="my-link" href="/#/login">
			Назад
		</a>
		<button ng-click="vm.checkCode()" class="btn btn-success btn-block">
			Изменить пароль
		</button>
	</p>

</div>