<!DOCTYPE html>
<html style="height:100%; overflow-y:hidden;" lang="ru" ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Getticket</title>

    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Content/css/sb-admin.css" rel="stylesheet">
    <link href="/Content/css/Portal/HeaderStyles.css" rel="stylesheet" />
    <link href="/Content/angular-material.min.css" rel="stylesheet" />
    <!-- Morris Charts CSS -->
    <link href="/Content/css/plugins/morris.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/ng-tags-input.css" />
    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/Content/angular-busy.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="/Scripts/jquery.js"></script>

    <!--Angular-->
    <script src="/Scripts/angular.js" type="text/javascript"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap-tpls.js" type="text/javascript"></script>
    <script src="/Scripts/angular-resource.js" type="text/javascript"></script>
    <script src="/Scripts/angular-busy.js" type="text/javascript"></script>
    <script src="/Scripts/angular-animate.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-aria.min.js" type="text/javascript"></script>
    <script src="/Scripts/angular-material.min.js" type="text/javascript"></script>
    <script src="/Scripts/moment.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/angular-charts/d3.min.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/angular-charts/nv.d3.js" type="text/javascript"></script>
    <script src="/Scripts/plugins/angular-charts/angular-nvd3.min.js" type="text/javascript"></script>
    <script src="/Scripts/ng-file-upload-all.min.js"></script>


    <script src="/Scripts/select.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>
</head>
<body style="height:calc(100% - 55px);">
    <div id="wrapper" style="height:100%;" ng-style="{'padding-left': (hideMenu ? 70 : 225) + 'px'}" ui-view>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" ng-click="refreshMain()">Getticket V 0.1.5.4</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                     <ul class="dropdown-menu message-dropdown">
                         <li class="message-preview">
                             <a href="#">
                                 <div class="media">
                                     <span class="pull-left">
                                         <img class="media-object" src="http://placehold.it/50x50" alt="">
                                     </span>
                                     <div class="media-body">
                                         <h5 class="media-heading">
                                             <strong>John Smith</strong>
                                         </h5>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="message-preview">
                             <a href="#">
                                 <div class="media">
                                     <span class="pull-left">
                                         <img class="media-object" src="http://placehold.it/50x50" alt="">
                                     </span>
                                     <div class="media-body">
                                         <h5 class="media-heading">
                                             <strong>John Smith</strong>
                                         </h5>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="message-preview">
                             <a href="#">
                                 <div class="media">
                                     <span class="pull-left">
                                         <img class="media-object" src="http://placehold.it/50x50" alt="">
                                     </span>
                                     <div class="media-body">
                                         <h5 class="media-heading">
                                             <strong>John Smith</strong>
                                         </h5>
                                         <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                         <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                     </div>
                                 </div>
                             </a>
                         </li>
                         <li class="message-footer">
                             <a href="#">Read All New Messages</a>
                         </li>
                     </ul>
                 </li>
                 <li class="dropdown" ng-show="alarmsData.Total!==0">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{alarmsData.Total}}<i class="fa fa-bell"></i> <b class="caret"></b></a>
                     <ul class="dropdown-menu">
                         <li class="message-preview" ng-repeat="row in alarmsData.Alarms">
                             <a href="#">{{row.Text}}<br /> <span class="label label-default">{{row.CarNumber}}</span></a>
                         </li>
                         <li class="message-footer">
                             <a href="~/Notifications/Index">Просмотреть все события</a>
                         </li>
                     </ul>
                 </li>-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{UserName}}<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="~/Settings/UserProfile"><i class="fa fa-fw fa-user"></i> Профиль</a>
                        </li>
                        <li>
                            <a href="~/Settings/Index"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="logOut()"><i class="fa fa-fw fa-power-off"></i> Выход</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <div class="side-link" ng-style="{'width': (hideMenu ? 70 : 225) + 'px'}">
                    <a href="#" ng-click="changeShowMenu()">
                        <i class="fa fa-fw fa-bars"></i>
                    </a>
                </div>
                <main-menu></main-menu>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper" style="height:100%; background:#2e80ab; padding:0px;">
            <div class="panel" style="height:100%; white-space:nowrap;  background:#2e80ab; ">
                <div id="divContent" style="overflow-x:scroll; overflow-y: hidden; white-space:nowrap; display:block; height:100%"></div>
            </div>
        </div>
    </div>

    <!-- base-->
    <script src="/Scripts/i18n/angular-locale_ru-ru.js"></script>

    <!--<script src="app-content/angular-route.js"></script>-->
    <script src="/Scripts/moment-with-locales.min.js"></script>
    <script src="/Scripts/angular-moment.min.js"></script>
    <script src="/Scripts/isteven-multi-select.js"></script>
    <script src="/Scripts/ng-tags-input.min.js"></script>
    <script src="/Scripts/angular-datepicker.js"></script>
    <script src="/Scripts/angular-ui-router.js"></script>
    <script src="/Scripts/angular-messages.js"></script>
    <script src="/Scripts/angular-cookies.js"></script>
    <script src="/Scripts/angular-recaptcha.js"></script>
    <script src="/Scripts/angular-resource.min.js"></script>

    <!--components-->
    <script type="text/javascript" src="/app.js"></script>
    <script type="text/javascript" src="/app-services/authentication.service.js"></script>
    <script type="text/javascript" src="/app-services/flash.service.js"></script>
    <script type="text/javascript" src="/app-services/person.service.js"></script>
    <script type="text/javascript" src="/app-services/user.service.js"></script>
    <script type="text/javascript" src="/app-services/event.service.js"></script>
    <script type="text/javascript" src="/components/menu/menu.controller.js"></script>

    <script type="text/javascript" src="/login/login.controller.js"></script>
    <script type="text/javascript" src="/main/_base.js"></script>


    <script type="text/javascript" src="/main/user/user.viewone.js"></script>
    <script type="text/javascript" src="/main/user/user.list.js"></script>
    <script type="text/javascript" src="/main/user/user.edit.js"></script>
    <script type="text/javascript" src="/main/user/user.create.js"></script>
    <script type="text/javascript" src="/main/user/user.invite.js"></script>
    <script type="text/javascript" src="/main/user/user.create.js"></script>
    <script type="text/javascript" src="/main/user/r3/user.statistic.js"></script>
    <script type="text/javascript" src="/main/user/r3/user.message.js"></script>
    <script type="text/javascript" src="/main/user/r3/user.entry.js"></script>

    <!--<script type="text/javascript" src="/main/user/user.invite.js"></script>-->




    <script type="text/javascript" src="/main/person/person.viewone.js"></script>
    <script type="text/javascript" src="/main/person/person.list.js"></script>
    <script type="text/javascript" src="/main/person/person.edit.js"></script>
    <script type="text/javascript" src="/main/person/person.create.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.facts.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.media.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.connections.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.internet.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.antro.js"></script>
    <script type="text/javascript" src="/main/person/r3/person.notes.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/peron.fact.create.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/peron.fact.editor.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/peron.connectionst.create.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/peron.connectionst.editor.js"></script>

    <script type="text/javascript" src="/main/person/r3/r4/person.notes.source.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.notes.static.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.notes.tizer.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.notes.ades.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.internet.editor.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.media.editor.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.media.create.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/person.antro.editor.js"></script>
    <script type="text/javascript" src="/main/person/r3/r4/r5/person.notes.ades.edit.js"></script>

    <script type="text/javascript" src="/main/events/events.edit.js"></script>
    <script type="text/javascript" src="/main/events/events.viewone.js"></script>
    <script type="text/javascript" src="/main/events/events.list.js"></script>
    <script type="text/javascript" src="/main/events/events.create.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.facts.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.hapens.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.media.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.connections.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.users.js"></script>
    <script type="text/javascript" src="/main/events/r3/events.notes.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.notes.static.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.notes.source.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.notes.tizer.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.fact.edit.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.connections.edit.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.media.edit.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.users.edit.js"></script>
    <script type="text/javascript" src="/main/events/r3/r4/events.notes.edit.js"></script>

    <script type="text/javascript" src="/main/concert/concert.list.js"></script>

    <script type="text/javascript" src="/main/dictionary/dictionary.person.links.js"></script>
    <script type="text/javascript" src="/main/dictionary/dictionary.person.wtf.js"></script>
    <script type="text/javascript" src="/main/dictionary/dictionary.antro.types.js"></script>
    <script type="text/javascript" src="/main/dictionary/dictionary.event.category.js"></script>
    <script type="text/javascript" src="/main/dictionary/dictionary.event.org.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/Scripts/angular-youtube-embed.min.js">
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>
