<div class="container">
    <div class="col-md-4 col-md-offset-4 text-center space-lg logo">
        <img src="/app-content/images/logo.png">
    </div>
    <div class="col-md-8 col-md-offset-2">
        <div class="col-md-10 col-md-offset-1 reg">
            <h2><span class="glyphicon glyphicon-envelope"></span> Регистрация</h2>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group"
                     ng-class="{ 'has-error': form.firstName.$touched && form.firstName.$error.required }">
                    <input type="text" name="firstName" id="firstName" class="form-control"
                           ng-model="vm.user.first_name" placeholder="Имя" required/>
                    <span ng-show="form.firstName.$touched && form.firstName.$error.required" class="help-block">First name is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.lastName.$touched && form.lastName.$error.required }">
                    <input type="text" name="lastName" id="Text1" class="form-control" ng-model="vm.user.last_name"
                           placeholder="Фамилия" required/>
                    <span ng-show="form.lastName.$touched && form.lastName.$error.required" class="help-block">Last name is required</span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$touched && form.password.$error.required }">
                    <input id="company" type="text" name="company" class="form-control" ng-model="vm.user.company"
                           placeholder="Компания"/>
                    <span ng-show="form.password.$touched && form.company.$error.required" class="help-block"></span>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.lastName.$touched && form.lastName.$error.required }">
                    <input type="text" name="post" id="post" class="form-control" ng-model="vm.user.post"
                           placeholder="Должность" required/>
                    <span ng-show="form.post.$touched && form.post.$error.required"
                          class="help-block">Post is required</span>
                </div>

            </div>
            <div class="col-md-6">


                <div class="form-group"
                     ng-class="{ 'has-error': form.username.$touched && form.username.$error.required }">
                    <input type="email" name="username" id="username" class="form-control" ng-model="vm.user.username"
                           placeholder="email" required/>
                    <span ng-show="form.username.$touched && form.username.$error.required" class="help-block">Email is required</span>
                    <span ng-show="form.username.$touched && form.username.$error.email" class="help-block">Email is required</span>
                </div>
                <div class="form-group">
                    <input type="text" name="telephone" id="telephone" class="form-control" ng-model="vm.user.phone"
                           placeholder="Телефон"/>
                </div>
                <div class="form-group mycheckbox"
                     ng-class="{ 'has-error': form.password.$touched && form.password.$error.required }">
                    <label for="generatePassword">
                        <input type="checkbox" ng-click="vm.generatePassword()" id="generatePassword" value="">
                        <span ng-if="vm.passtype=='text'" class="glyphicon glyphicon-ok"></span>
                        <span ng-if="vm.passtype=='password'" class="glyphicon"></span>
                        Сгенерировать пароль автоматически
                    </label>
                </div>
                <div class="form-group"
                     ng-class="{ 'has-error': form.password.$touched && form.password.$error.required }">
                    <input type="{{vm.passtype}}" class="form-control" placeholder="Пароль" name="password" ng-model="vm.user.password" ng-minlength="5" required>
                    <span ng-show="form.password.$touched && form.password.$error.required" class="help-block">Password is required</span>
                </div>


                <!--
                        <div
                                vc-recaptcha
                                key="'6LdbfxoTAAAAAB4TAsYqyOsY6YiKHa4pAE0BPlFp'"
                                theme="'light'"
                        ></div>
                        <script
                                src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit"
                                async defer
                        ></script>
                -->
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || vm.dataLoading"
                            class="btn btn-warning btn-block">
                        Зарегистрироваться
                    </button>
                    <img ng-if="vm.dataLoading"
                         src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                    <a href="#/sign-in" class="my-link">Отмена</a>
                </div>

            </div>


        </div>


    </form>
        </div>
    </div>
</div>