<div class="win-container r4 personFactCreate" style="width:400px;" ng-controller="EventsUserCreateController">
    <div class="win-header">
        <div class="win-header-text">
            Редактирование прав
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personFactCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>

    <form name='editEvent' ng-submit="saveUser()">
    <div class="win-menu">
        <div class="win-menu-button">
            <!--<a href="#" ng-click="saveFact()">
                <span class="fa fa-save"></span> Добавить
            </a>-->
            <button class="clearBtn"><span class="fa fa-save"></span> Добавить</button>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <td>Фио *</td>
                <td><input class="form-control" required='required'/></td>
            </tr>
            <tr>
                <td>Роль *</td>
                <td>
                    <select name="" id="" class="form-control">
                        <option value="">Редактор</option>
                        <option value="">Оператор</option>
                        <option value="">Аккаунт-менеджер</option>
                        <option value="">Представитель</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>