<div class="win-container r4 personFactCreate" style="width:400px;" ng-controller="EventsFactEditController">
    <div class="win-header">
        <div class="win-header-text">
            Редактировать факт
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personFactCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveFact()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <tr>
                <td>Текст факта</td>
                <td><textarea class="form-control" style="height:150px;" ng-model="editedFact.FactText" /></td>
            </tr>
            <tr>
                <td>Статус</td>
                <td><input class="form-control" ng-model="editedFact.Status" /></td>
            </tr>
            <tr>
                <td>Изменен</td>
                <td>
                    {{fact.LastChange.UserName}}<br>
                    {{fact.LastChange.Date | amCalendar}}
                </td>
            </tr>
            <tr>
                <td>Связь</td>

                <td>
                    <select name="" id="" class="form-control" ng-model="editedFact.id_FactType" ng-change="chaneTypes(editedFact.id_FactType)"
                            ng-options="item.Id as item.Name + '/' + item.Descript  for item in facttypes">
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Источник</td>
                <td>
                    <input class="form-control" ng-model="editedFact.Source" />
                </td>
            </tr>
        </table>
    </div>
</div>