<div class="win-container r4 personFactCreate" style="width:400px;" ng-controller="EventsFactCreateController">
    <div class="win-header">
        <div class="win-header-text">
            Создать новую связь
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personFactCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveFact()">
                <span class="fa fa-save"></span>
                <br />
                Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <tr>
                <td>Персона</td>
                <td><input class="form-control" /></td>
            </tr>
            <tr>
                <td>Мероприятия</td>
                <td><input class="form-control" /></td>
            </tr>
            
            <tr>
                <td>Событие</td>
                <td><input class="form-control" /></td>
            </tr>
        </table>
    </div>
</div>