<div class="win-container r4 eventConnectionCreate" style="width:600px;" ng-controller="EventsConnectionsEditController">
    <div class="win-header">
        <div class="win-header-text">
            Создать новую связь
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('eventConnectionCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveConnection()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row" cg-busy="Promise">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <i>С чем связано редактируемое Мероприятие</i>
                <select name="" id="" class="form-control" ng-model="editedConnection.id_ConnectionType" ng-change="getConnections(editedConnection.id_ConnectionType)"
                        ng-options="item.Id as item.Name for item in connectiontypes">
                </select>
            </div>
            <div class="col-lg-6">
                <i>Уточните объект</i>
                <select name="" id="" class="form-control" ng-model="connectionId"
                        ng-options="item.Id as item.Name for item in connectionList"></select>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-7">
                <i>Охарактеризуйте, как связано редактируемое Мероприятие с объектом связи</i>
                <input class="form-control" placeholder="например, выступали" ng-model="editedConnection.Description"/>
                <i>Уточните характеристику</i>
                <input class="form-control" placeholder="только если требуется характеристика" />
                <i>Добавьте тизер-комментарий к вашей характеристике</i>
                <textarea msd-elastic class="form-control" style="min-height:100px;" ng-model='test'/>
            </div>
            <div class="col-lg-5">

            </div>
        </div>
    </div>
</div>