<div class="win-container r4 disEventNotesStatic" style="width:400px;" ng-controller="eventsNotesStaticController">
    <div class="win-header">
        <div class="win-header-text">
            Статическое описнаие
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotesStatic')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="savePersonNotesStatic()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <input class="form-control" placeholder="Поиск из добавленных"/>
        <br/>
        <i>Можно использовать для описания уже добавленное. При этом произойдет поиск по тем описаниям, которые добавлены для персоны. Отображается только начало отписания. Найдя подходящее, выберете его из появившегося списка и нажмите ВВОД - описание будет скопировано в поле ниже. Внимание - копируется только текст описания, Вы НЕ редактируете предыдущее описание.</i>
        <br/>
        <textarea style="min-height:300px; width:360px;" ng-model="staticDescription.DescriptionText"></textarea>
        <br/>
        <i>Статчиеское описание для персоны - это такое описание, которое описывается описанием описания. Тут Виталий должен какой то текст скостромить для пользователя, который подскажет ему, что это за хрень</i>
    </div>
</div>