<div class="win-container r4 personFactEdit" style="width:400px;" ng-controller="PersonFactEditorController">
    <div class="win-header">
        <div class="win-header-text">
            Добавить/Редактировать факт
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personFactEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>


    <form name='editEvent' ng-submit="saveFact()" class="form_custom">

    <div class="win-menu">
        <div class="win-menu-button">
            <!-- <a href="#" ng-click="saveFact()">
                <span class="fa fa-save"></span> Сохранить
            </a> -->
            <button class="clearBtn"><span class="fa fa-save"></span> Сохранить</button>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <table class="table">
            <tr>
                <td>Текст факта *</td>
                <td><textarea msd-elastic style="min-height: 150px !important;" class="form-control" required='required' ng-model="editedFact.FactText" /></td>
            </tr>
            <tr>
                <td>Статус *</td>
                <td><input class="form-control" ng-model="editedFact.Status" required='required'/></td>
            </tr>
            <tr>
                <td>Изменен</td>
                <td>{{fact.LastChange.UserName}}<br>
                    {{fact.LastChange.Date | amCalendar}}</td>
            </tr>
            <tr>
                <td>Связь</td>
                <td>
                    <select name="" id="" class="form-control" ng-model="editedFact.id_FactType" ng-change="chaneTypes(editedFact.id_FactType)"
                            ng-options="item.Id as item.Name + '/' + item.Descript  for item in facttypes">
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Источник</td>
                <td>
                    <input class="form-control" ng-model="editedFact.Source" />
                </td>
            </tr>
        </table>
    </div>
    </form>
</div>