<div class="win-container r4 personConnectionEdit" style="width:400px;" ng-controller="PersonConnectionstEditorController">
    <div class="win-header">
        <div class="win-header-text">
            Редактировать/Добавить связь
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personConnectionEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveConnection()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <table class="table" cg-busy="Promise">
            <tr>
                <td>Тип связи *</td>
                <td>
                    <select name="" id="" class="form-control" ng-model="editedConnection.id_ConnectionType" ng-change="getConnections(editedConnection.id_ConnectionType)"
                            ng-options="item.Id as item.Name for item in connectiontypes">
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Что связываем *</td>
                <td>
                    <!--<select name="" id="" class="form-control" ng-model="connectionId"
                                 ng-options="item.Id as item.Name for item in connectionList"></select>-->
                    <div class="form-group">
                        <input required='required' type="text" class="form-control" placeholder="Что связываем" name="Place" uib-typeahead="item.Id as item.Name for item in connectionList | filter:$viewValue"
                               ng-model="connectionId" typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                               typeahead-min-length="0"> <!--uib-typeahead="item.Name as item.Name for item in places | filter:$viewValue">-->
                        <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
                        <div ng-show="noResults">
                            <i class="glyphicon glyphicon-remove"></i> Не найдено
                        </div>
                        <script type="text/ng-template" id="customTemplate.html">
                            <a>
                                <span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
                                <span> ({{match.model.Name}})</span>
                            </a>
                        </script>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Характеристика</td>
                <td><input class="form-control" ng-model="editedConnection.Description"/></td>
            </tr>
        </table>
    </div>
</div>