<div class="win-container r4 personConnectionEdit" style="width:400px;" ng-controller="PersonConnectionstEditorController">
    <div class="win-header">
        <div class="win-header-text">
            Редактировать/Добавить связь
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personConnectionEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveConnection()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <tr>
                <td>Тип связи</td>
                <td>
                    <select name="" id="" class="form-control" ng-model="editedConnection.id_ConnectionType" ng-change="getConnections(editedConnection.id_ConnectionType)"
                            ng-options="item.Id as item.Name for item in connectiontypes">
                        <option value="1">1</option>
                        <option value="1">1</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Что связываем</td>
                <td><select name="" id="" class="form-control" ng-model="connectionId" 
                            
                            ng-options="item.Id as item.Name for item in connectionList"></select></td>
            </tr>
            <tr>
                <td>Характеристика</td>
                <td><input class="form-control" ng-model="editedConnection.Description"/></td>
            </tr>
        </table>
    </div>
</div>