<div class="win-container r4 disAntroEditor" style="width:600px;" ng-controller="personAntroEditorController">
    <div class="win-header">
        <div class="win-header-text">
            Редактор антропометрии
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disAntroEditor')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveAntro()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
        <div class="win-menu-button">
            <a href="#" ng-click="displayAntroTypes()">
                <span class="fa fa-link"></span> Типы параметров
            </a>
        </div>
    </div>
    <div class="win-content">
        <h5>Данные</h5>
        <div class="row">
            <div class="col-lg-6">
                Параметр
                <select class="form-control" ng-model="editedAntro.IdAntro" ng-options="item.Id as item.Name for item in antronames">
                    <option>Глаза/цвет</option>
                    <option>Стопа/размер</option>
                    <option>Рост</option>
                    <option>Вес</option>
                </select>
            </div>
            <div class="col-lg-6">
                Значение
                <input class="form-control" ng-model="editedAntro.Value"/>
            </div>
        </div>
        <br/>
        <h5>Ассоциации</h5>
        <div class="panel">
            <table class="table" style="max-height:300px;">
                <thead>
                    <tr>
                        <th>Тип связи</th>
                        <th>Объект связи</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="link in personeRange">
                        <td>Персона</td>
                        <td>{{link.LastName}} {{link.Name}}</td>
                    </tr>
                    <tr ng-repeat="link in eventRange">
                        <td>Мероприятие</td>
                        <td>{{link.Name}}</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <hr/>
            <br/>
            <div class="panel">
                Добавить/редактировать ассоциацию
                <div class="row">
                    <div class="col-lg-4">
                        <input type="radio"
                               ng-checked="association.type == 'event'"
                               ng-click="association.type = 'event'"> Мероприятие
                        <br />
                        <input type="radio"
                               ng-checked="association.type == 'person'"
                               ng-click="association.type = 'person'"> Персона
                        <br />
                        <!--<input type="radio"
                       ng-checked="association.type == 'media'"
                       ng-click="association.type = 'media'"> Медиа
                <br />-->
                    </div>
                    <div class="col-lg-4">
                        <!--if event-->
                        <div ng-show="association.type == 'event'">
                            <i>Укажите мероприятие, для которого создается связь</i>
                            <select class="form-control" ng-model="association.Id"
                                    ng-options="item.Id as item.Name for item in events"></select>
                        </div>
                        <!--if person-->
                        <div ng-show="association.type == 'person'">
                            <i>Укажите персону, для которой создается связь</i>
                            <select class="form-control" ng-model="association.Id"
                                    ng-options="item.Id as item.LastName + ' ' + item.Name for item in persons"></select>
                        </div>
                        <!-- if media-->
                        <div ng-show="association.type == 'media'">
                            <i>Укажите персону, для которой создается связь</i>
                            <select class="form-control" ng-model="association.personId" ng-change="getPersonMedia(association.personId)"
                                    ng-options="item.Id as item.LastName + ' ' + item.Name for item in persons"></select>
                            <i>Укажите медиа</i>
                            <select class="form-control" ng-model="association.Id"
                                    ng-options="item.Id as item.Name for item in personmedialist"></select>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-default" ng-click="addAssociation(association)">Сохранить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>