<div class="win-container r4 disPersonNotesAdapt" style="width:500px;" ng-controller="personNotesAdesController">
    <div class="win-header">
        <div class="win-header-text">
            Адаптивное описание
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotesAdapt')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="savePersonNotesSource()">
                <span class="fa fa-plus"></span>
                <br />
                Добавить
            </a>
        </div>
    </div>
    <div class="win-content">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Ключи</th>
                    <th>Связь факта</th>
                    <th>Текст</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Ноги, руки, крюки</td>
                    <td>Персона/Антропометрия</td>
                    <td>В первом матче турнира сойдутся 120 см Имя Фамилия с 124 см Имя2 Фамилия2. Но не только длинные ножки решают исход каждого сета.</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Ноги, руки, крюки</td>
                    <td>Персона/Антропометрия</td>
                    <td>Лучший скип сборной России. Знаменита не только спортивными достижениями, но и своей привлекательностью.</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Ноги, руки, крюки</td>
                    <td>Персона/Антропометрия</td>
                    <td>Турнир в Тулузе не толь|</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>