<div class="win-container r4 disReport" style="width:600px;">
    <div class="win-header">
        <div class="win-header-text">
            Адаптивное описание
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disReport')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="savePersonNotesSource()">
                <span class="fa fa-save"></span>
                <br />
                Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">

    </div>
</div>