<div class="win-container r4 personInternetCreate" style="width:400px;" ng-controller="PersonInternetEditorController">
    <div class="win-header">
        <div class="win-header-text">
            Создать новую ссылку
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('personInternetCreate')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveInternet()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
        <div class="win-menu-button">
            <a href="#" ng-click="displayLinkTypes()">
                <span class="fa fa-link"></span> Типы ссылок
            </a>
        </div>
    </div>
    <div class="win-content">
        Тип ссылки
        <br/>
        <select class="form-control" ng-model="editedModel.IdSocialLinkType" ng-options="type.Id as type.Name for type in socialtypes" required/>
        <br/>
        Ссылка
        <br/>
        <input type="text" class="form-control" ng-model="editedModel.Link" required/>
        <br />
        Описание
        <br />
        <input type="text" class="form-control" ng-model="editedModel.Description"/>
        <br />        
        Назначение
        <br />
        <select class="form-control" ng-model="editedModel.Destination" ng-options="type.Id as type.Name for type in destinationtypes" />
        <br />
    </div>
</div>