<div class="win-container r4 disPersonNotesTizer" style="width:400px;" ng-controller="personNotesTizerController">
    <div class="win-header">
        <div class="win-header-text">
            Тизер
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotesTizer')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="savePersonNotesTizer()">
                <span class="fa fa-save"></span>
                <br />
                Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <textarea style="min-height:200px; width:360px;" ng-model="editableTizer.DescriptionText"></textarea>
        <br />
        <h5>Ключи (от 3 до 10)</h5>
        <textarea style="min-height:100px; width:360px;"></textarea>
        <br />
        <i>Тизер = это краткая штукотень. Напишите сюда 180 символов для "прочитал - и все пиздец как понятно". Тут Виталий должен какой то текст скостромить для пользователя, который подскажет ему, что это за хрень</i>
    </div>
</div>
