<div>
	<div class="row">
		<div class="col-md-8">
			<h2>Восстановление пароля</h2>
		</div>
		<div class="col-md-4">
			<p class="text-right">
				Еще не зарегистрированы?<br />
				<a href="#/register">Регистрация</a>
			</p>
		</div>
	</div>

	<div ng-if="!vm.emailCheck">
		<p class="text-center">Email:</p>

		<p>
			<input type="text" class="form-control text-center" ng-model="vm.email" />
		</p>

		<p class="text-right">
			<button ng-click="vm.checkCode()" class="btn btn-primary">
				Отправить
			</button>
		</p>
	</div>
	<div ng-if="vm.emailCheck">
		<p class="text-center">
			Заявка на восстановление пароля отправлена! Дальнейшие инструкции высланы Вам на Ваш почтовый ящик.
		</p>
	</div>
</div>