<div class="row persona-info__full-block">

    <div class="col-md-24 register__container">
        <div class="col-md-24 row">
            <form name="form" class="css-form" novalidate>
                <div class="col-md-3">
                    <div class="row">
                        <img src="http://placehold.it/120x120" alt="Placeholder">
                    </div>
                    <!-- Sex Switches -->
                    <div class="row">
                        <div class="radio-input-container">
                            <div class="radio-input">
                                <input type="radio" value="None" id="sexM" ng-checked="person.Sex == 0" ng-click="person.Sex = 0; person.IsChange = true" name="check">
                                <label for="sexM"></label>
                            </div>

                            <span>M</span>
                        </div>

                        <div class="radio-input-container">
                            <div class="radio-input">
                                <input type="radio" value="None" id="sexF" ng-checked="person.Sex == 1" ng-click="person.Sex = 1; person.IsChange = true" name="check">
                                <label for="sexF"></label>
                            </div>

                            <span>Ж</span>
                        </div>
                    </div>
                    <!-- End Sex Switches -->
                </div>

                <div class="col-md-4">
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        {{ person.LastName }}
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Фамилия*" name="LastName"
                               ng-model="person.LastName" ng-change="person.IsChange = true" required>
                    </div>
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        {{ person.Name }}
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Имя*" name="Name"
                               ng-model="person.Name" ng-change="person.IsChange = true" required>
                    </div>
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        {{ person.Patronymic }}
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Отчество" name="Patronymic"
                               ng-model="person.Patronymic" ng-change="person.IsChange = true">
                    </div>

                </div>

                <div class="col-md-4 col-md-offset-2">
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        <span class="text-generated">{{ person.LastNameLatin }}</span>
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Имя (латинское)" name="NameLatin"
                               ng-model="person.NameLatin" ng-change="person.IsChange = true">
                    </div>
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        <span class="text-generated">{{ person.NameLatin }}</span>
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Фамилия (латинское)" name="LastNameLatin"
                               ng-model="person.LastNameLatin" ng-change="person.IsChange = true">
                    </div>
                    <div class="persona-info__name-row" ng-show="!isEdit">
                        <span class="text-generated">{{ person.PatronymicLatin }}</span>
                    </div>
                    <div class="form-group" ng-show="isEdit">
                        <input type="text" class="form-control" placeholder="Отчество (латинское)" name="PatronymicLatin"
                               ng-model="person.PatronymicLatin" ng-change="person.IsChange = true">
                    </div>

                </div>

                <div class="col-md-8 col-md-offset-2">
                    <div class="row">
                        <div class="form-group" ng-show="isEdit">
                            <input date-time ng-model="person.birthday" required format="D MMMM YYYY" class="form-control" view="date" min-view="date"
                                   date-change="changeDate" placeholder="День рождения*" />
                        </div>
                        <select class="form-control" disabled="disabled" ng-show="!isEdit">
                            <option>{{person.txtBirthday | date : 'd MMMM yyyy'}} ({{person.Age}})</option>
                        </select>
                        <p>
                            <span class="text-muted">(зодиак)</span>
                            {{person.ZodiacMonth}} /
                            <span class="text-muted">(восточный)</span>
                            {{person.ZodiacYear}}
                        </p>
                    </div>

                    <div class="row">
                        <select class="form-control" disabled="disabled" ng-show="!isEdit">
                            <option>{{person.Place}}, {{person.Country}}</option>
                        </select>
                        <div class="form-group" ng-show="isEdit">
                            <input type="text" placeholder="Страна" name="Country" class="form-control" ng-change="person.IsChange = true"
                                   ng-model="person.Country" uib-typeahead="item.Name as item.Name for item in countries | filter:$viewValue">
                        </div>
                        <div class="form-group" ng-show="isEdit">
                            <input type="text" class="form-control" placeholder="Город" name="Place"
                                   ng-model="person.Place" uib-typeahead="item.Name as item.Name for item in places | filter:$viewValue">
                        </div>
                        <!--<p>
                            (Санкт-Петербург, Россия)
                        </p>-->
                    </div>
                    <div class="space"></div>

                </div>


            </form>
            <div class="col-md-24">
                <div class="help-block" ng-messages="form.Name.$error" ng-if="submitted">
                    <div ng-message="required">Имя обязательно для заполнения</div>
                </div>
                <div class="help-block" ng-messages="form.LastName.$error" ng-if="submitted">
                    <div ng-message="required">Фамилия обязательно для заполнения</div>
                </div>
                <div class="help-block" ng-messages="form.Country.$error" ng-if="submitted">
                    <div ng-message="required">Укажите название страны</div>
                </div>
                <div class="help-block col-md-4 col-md-offset-15" ng-if="response">
                    <div>{{response}}</div>

                </div>
            </div>
        </div>
        <div class="col-md-24 row">
            <!-- Last Changes -->
            <div class="col-md-19 persona-info-block">
                <p ng-show="person.LastChange">
                    <span class="text-muted">Последние изменение персоны / </span>
                    <span>{{person.LastChange.NameProperty}} {{person.LastChange.Date| amCalendar}}, {{person.LastChange.UserName}} {{person.LastChange.Position}}</span>
                    <!--<span>(все изменения)</span>-->
                </p>
                <p>
                    Рейтинг просмотров {{persentView}}%
                    <!--(Подробнее - недельный, месячный)-->
                    <br>
                    В избраном {{inFavorites}}
                </p>
            </div>
            <!-- End Last Changes -->
            <div class="col-md-5">
                <div class="form-actions col-md-20">
                    <button type="button" ng-click="save()" class="btn btn-primary btn-lg" ng-show="isEdit && person.IsChange && !isCreate">
                        Сохранить
                    </button>
                    <div class="row">
                        <button type="button" ng-click="register()" ng-disabled="form.$invalid" class="btn btn-primary btn-lg" ng-show="isCreate">
                            далее
                        </button>
                    </div>
                    <div class="row" ng-show="isCreate">
                        <p class="extra-small blue">Сохранить и перейти на следующий шаг</p>
                    </div>
                </div>
                <div class="col-md-4" ng-show="!isCreate">
                    <a href="" class="persona__edit glyphicon glyphicon-pencil" ng-click="isEdit = !isEdit"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" ng-show="!isCreate">
    <div class="col-md-24">
        <ul class="nav nav-tabs" ng-click="SwitchElements()">
            <li role="presentation" class="col-md-5 text-center"><a data-target="#description" data-toggle="tab">Описание</a></li>
            <li role="presentation" class="col-md-4"><a data-target="#facts" data-toggle="tab">Факты</a></li>
            <li role="presentation" class="col-md-3"><a data-target="#connections" data-toggle="tab">Связи</a></li>
            <li role="presentation" class="col-md-4"><a data-target="#media" data-toggle="tab">Медиа и файлы</a></li>
            <li role="presentation" class="col-md-4"><a data-target="#internet" data-toggle="tab">Интернет</a></li>
            <li role="presentation" class="col-md-4">
                <a data-target="#anthropometry" data-toggle="tab">Антропометрия</a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="description" class="tab-pane">
                <div class="col-md-24">
                    <table class="table persona-main__table">
                        <thead>
                            <tr>
                                <td class="col-md-5">Текст ({{descriptionlist.length}})</td>
                                <td class="col-md-3">Тип текста</td>
                                <td class="col-md-4">Статус</td>
                                <td class="col-md-2">Изменен</td>
                                <td class="col-md-4">Источник</td>
                                <td class="col-md-4">Использование</td>
                                <td class="col-md-1" />
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in descriptionlist">
                                <td class="persona-main__table_text">
                                    <span ng-show="!item.isEdit">{{item.DescriptionText}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.DescriptionText"
                                              ng-show="item.isEdit" ng-change="item.Changed = true; Changed(descriptionlist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td>
                                    <span ng-show="!item.isTypeEdit">{{item.PersonDescriptionType}}</span>
                                    <select ng-model="item.id_DescriptionType" class="form-control" ng-show="item.isTypeEdit"
                                            ng-change="item.Changed = true; Changed(descriptionlist)" ng-options="type.Id as type.Name for type in descriptiontypes"></select>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isTypeEdit = !item.isTypeEdit"></a>
                                </td>
                                <td class="text-danger">
                                    <span ng-show="!item.isDescriptionEdit">{{item.Status}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.Status"
                                              ng-show="item.isDescriptionEdit" ng-change="item.Changed = true; Changed(descriptionlist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isDescriptionEdit = !item.isDescriptionEdit"></a>
                                </td>
                                <td>
                                    <span ng-if="item.LastChange">
                                        {{item.LastChange.UserName}}<br>
                                        {{item.LastChange.Date | amCalendar}}
                                    </span>
                                </td>
                                <td><a href="#">Ссылка (Сохраненная копия)</a></td>
                                <td>
                                    <!--Главная (4 мероприятия), Персона (Поиск, +), Персона (Подробно, +) <br>
                                    / <a href="#">подробнее, статистика</a>-->
                                </td>
                                <td>
                                    <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                       ng-click="saveDescription(item);"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                        <button class="btn btn-primary btn-lg" ng-click="createDescription()"><span class="glyphicon glyphicon-plus"></span> Перейти в конструктор</button>
                    </div>
                </div>
            </div>

            <div id="facts" class="tab-pane">
                <div class="col-md-24">
                    <table class="table persona-main__table">
                        <thead>
                            <tr>
                                <td class="col-md-7">Факт ({{factlist.length}})</td>
                                <td class="col-md-5">Статус/Изменен</td>
                                <td class="col-md-3">Связь</td>
                                <td class="col-md-3">Источник</td>
                                <td class="col-md-4">Использование</td>
                                <td class="col-md-1" />
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in factlist">
                                <td class="persona-main__table_text">
                                    <span ng-show="!item.isEdit">{{item.FactText}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" data-ng-model="item.FactText" maxlength="190"
                                       ng-trim="false"       ng-model-options="{ allowInvalid: true }" ng-show="item.isEdit" ng-change="item.Changed = true; Changed(factlist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td class="text-danger">
                                    <strong>КA</strong>: Нужно ранжировать награды по степени
                                    важности
                                    <br>
                                    <span ng-if="item.LastChange">
                                        {{item.LastChange.UserName}}<br>
                                        {{item.LastChange.Date | amCalendar}}
                                    </span>
                                </td>
                                <td>
                                    <span ng-show="!item.isTypeEdit">{{item.FactType.Name}} / {{item.FactType.Descript}}</span>
                                    <select ng-model="item.id_FactType" class="form-control" ng-show="item.isTypeEdit"
                                            ng-change="changedFact(item); Changed(factlist)" ng-options="type.Id as type.Name + ' / ' + type.Descript for type in facttypes"></select>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isTypeEdit = !item.isTypeEdit"></a>
                                </td>
                                <td><a href="#">Ссылка (Сохраненная копия)</a></td>
                                <td>
                                    <!--Главная (4 мероприятия), Персона (Поиск, +), Персона (Подробно, +) <br>
                                    / <a href="#">подробнее, статистика</a>-->
                                </td>
                                <td>
                                    <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                       ng-click="saveFact(item);"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                        <button class="btn btn-primary btn-lg" ng-click="addFact()"><span class="glyphicon glyphicon-plus"></span> Добавить факт</button>
                    </div>
                </div>
            </div>

            <div id="connections" class="tab-pane">
                <div class="col-md-24">
                    <table class="table persona-main__table">
                        <thead>
                            <tr>
                                <td class="col-md-6">Объект\Вид связи ({{connectionList.length}})</td>
                                <td class="col-md-6">Тип связи</td>
                                <td class="col-md-6">Характеристика связи</td>
                                <td class="col-md-5">Изменен</td>
                                <td class="col-md-1" />
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in connectionList">
                                <td>
                                    <span ng-show="!item.isEdit && item.id_ConnectionType > 1">{{item.Event.Name}}</span>
                                    <span ng-show="!item.isEdit && item.id_ConnectionType === 1">{{item.PersonConnectTo.LastName}} {{item.PersonConnectTo.Name}}</span>
                                    <select ng-model="item.id_Event" class="form-control" ng-show="item.isEdit && item.id_ConnectionType > 1"
                                            ng-change="changedConnectionEvent(item); Changed(connectionList)" ng-options="type.Id as type.Name for type in eventlist"></select>
                                    <select ng-model="item.id_PersonConnectTo" class="form-control" ng-show="item.isEdit && item.id_ConnectionType === 1"
                                            ng-change="changedConnectionPerson(item); Changed(connectionList)" ng-options="type.Id as type.LastName + ' ' + type.Name for type in persons"></select>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td class="text-danger">
                                    <span ng-show="!item.isEdit">{{item.PersonConnectionType}}</span>
                                    <select ng-model="item.id_ConnectionType" class="form-control" ng-show="item.isEdit"
                                            ng-change="item.Changed = true; Changed(connectionList)" ng-options="type.Id as type.Name for type in connectiontypes"></select>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td>
                                    <span ng-show="!item.isDescriptionEdit">{{item.Description}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.Description"
                                              ng-show="item.isDescriptionEdit" ng-change="item.Changed = true; Changed(descriptionlist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isDescriptionEdit = !item.isDescriptionEdit"></a>
                                </td>
                                <td>
                                    <span ng-if="item.LastChange">
                                        {{item.LastChange.UserName}}<br>
                                        {{item.LastChange.Date | amCalendar}}
                                    </span>
                                </td>
                                <td>
                                    <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                       ng-click="saveConnection(item);"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                        <button class="btn btn-primary btn-lg" ng-click="addConnection()"><span class="glyphicon glyphicon-plus"></span> Добавить связь</button>
                    </div>
                </div>
            </div>
            <script type="text/ng-template" id="my-custom-template">
                <div class="right-panel">
                    <span ng-bind-html="$highlight($getDisplayText())"></span>
                    <span ng-show="data.UsesType.length">({{data.UsesType|join:','}})</span>
                </div>
            </script>
            <div id="media" class="tab-pane">
                <div class="col-md-24">
                    <table class="table persona-main__table">
                        <thead>
                            <tr>
                                <td class="col-md-4">Данные медиа</td>
                                <td class="col-md-4">Медиа</td>
                                <td class="col-md-4">Ассоциация</td>
                                <td class="col-md-3">Изменен</td>
                                <td class="col-md-5">Теги</td>
                                <td class="col-md-3">Использование</td>
                                <td class="col-md-1" />
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in medialist">
                                <td>
                                    <span ng-show="!item.isDescriptionEdit">{{item.Description}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.Description"
                                              ng-show="item.isDescriptionEdit" ng-change="item.Changed = true; Changed(medialist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isDescriptionEdit = !item.isDescriptionEdit"></a>
                                </td>
                                <td>
                                    <span ng-show="!item.isEdit">{{item.MediaType}}</span>
                                    <select ng-model="item.id_MediaType" class="form-control" ng-show="item.isEdit"
                                            ng-change="item.Changed = true; Changed(medialist)" ng-options="type.Id as type.Name for type in mediatypes"></select>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.MediaLink"
                                              ng-show="item.isEdit" ng-change="item.Changed = true; Changed(medialist)"></textarea>
                                    <div class="persona-main__container_media small" ng-show="!item.isEdit">
                                        <img ng-src="{{item.MediaLink}}" alt="Placeholder" style="width: 80px;">
                                    </div>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td>
                                    <!--Связи <br>
                                    * Мероприятие (1) <br>
                                    * Персона (1)-->
                                </td>
                                <td>
                                    <span ng-if="item.LastChange">
                                        {{item.LastChange.UserName}}<br>
                                        {{item.LastChange.Date | amCalendar}}
                                    </span>
                                </td>
                                <td>
                                    <div class="tags" ng-show="!item.isEditTags">
                                        {{item.Tags.length}}:
                                        <span ng-repeat="tag in item.Tags">
                                            {{tag.Name}}
                                        </span>
                                    </div>
                                    <tags-input ng-show="item.isEditTags" ng-model="item.Tags" on-tag-added="tagChange(item)"
                                                on-tag-removed="tagChange(item)" display-property="Name" add-on-paste="true" placeholder="Ключи">
                                        <auto-complete source="loadMediaTags($query)" min-length="0" debounce-delay="0" template="my-custom-template"/>
                                    </tags-input>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEditTags = !item.isEditTags"></a>
                                </td>
                                <td>
                                    <!--Главная (4 мероприятия), Персона (Поиск, +), Персона (Подробно, +) <br>
                                    / <a href="#">подробнее</a>, <a href="#">статистика</a>-->
                                </td>
                                <td>
                                    <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                       ng-click="saveMedia(item);"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                        <button class="btn btn-primary btn-lg" ng-click="addMedia()"><span class="glyphicon glyphicon-plus"></span> Добавить медиа</button>
                    </div>
                </div>
            </div>

            <div id="internet" class="tab-pane">
                <div class="col-md-24">
                    <table class="table persona-main__table">
                        <thead>
                            <tr>
                                <td class="col-md-3">Тип</td>
                                <td>Ссылка</td>
                                <td>Комментарий</td>
                                <td>Активность</td>
                                <td>Назначение</td>
                                <td>Изменен</td>
                                <td class="col-md-1" />
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in linklist">
                                <td>
                                    <span ng-show="!item.isTypeEdit">{{item.PersonSocialLinkType}}</span>
                                    <select ng-model="item.IdSocialLinkType" class="form-control" ng-show="item.isTypeEdit"
                                            ng-change="item.Changed = true; Changed(linklist)" ng-options="type.Id as type.Name for type in socialtypes"></select>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isTypeEdit = !item.isTypeEdit"></a>
                                </td>
                                <td>
                                    <a ng-show="!item.isEdit" href="{{item.Link}}">{{item.Link}}</a>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.Link"
                                              ng-show="item.isEdit" ng-change="item.Changed = true; Changed(linklist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                </td>
                                <td>
                                    <span ng-show="!item.isDescriptionEdit">{{item.Description}}</span>
                                    <textarea type="text" class="form-control" style="min-height: 80px" ng-model="item.Description"
                                              ng-show="item.isDescriptionEdit" ng-change="item.Changed = true; Changed(linklist)"></textarea>
                                    <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isDescriptionEdit = !item.isDescriptionEdit"></a>
                                </td>
                                <td><!--5 твитов\сутки--></td>
                                <td><!--Публично (Персона\Полная)--></td>
                                <td>
                                    <span ng-if="item.LastChange">
                                        {{item.LastChange.UserName}}<br>
                                        {{item.LastChange.Date | amCalendar}}
                                    </span>
                                </td>
                                <td>
                                    <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                       ng-click="saveLink(item);"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pull-right">
                        <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                        <button class="btn btn-primary btn-lg" ng-click="addLink()"><span class="glyphicon glyphicon-plus"></span> Добавить ссылку</button>
                    </div>
                </div>
            </div>

            <div id="anthropometry" class="tab-pane">
                <div class="row">
                    <div class="col-md-24">
                        <table class="table persona-main__table">
                            <thead>
                                <tr>
                                    <td class="col-md-6">Данные</td>
                                    <td class="col-md-6">Ассоциация</td>
                                    <td class="col-md-5">Изменен</td>
                                    <td class="col-md-6">Использование</td>
                                    <td class="col-md-1" />
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="item in antro">
                                    <td>
                                        <span ng-show="!item.isEdit">{{item.AntroName}}</span>
                                        <select ng-model="item.IdAntro" class="form-control" ng-show="item.isEdit"
                                                ng-change="item.Changed = true; Changed(antro)" ng-options="type.Id as type.Name for type in antronames"></select>
                                        <textarea type="text" class="form-control" ng-model="item.Value"
                                                  ng-show="item.isEdit" ng-change="item.Changed = true; Changed(antro)"></textarea>
                                        <br>
                                        <span ng-show="!item.isEdit">{{item.Value}}</span>
                                        <a href="" class="persona-table__edit glyphicon glyphicon-pencil" ng-click="item.isEdit = !item.isEdit"></a>
                                    </td>

                                    <td>
                                        <!--Связи <br>
                                        * Мероприятие (1) <br>
                                        * Персона (1) <br>-->
                                    </td>

                                    <td>
                                        <span ng-if="item.LastChange">
                                            {{item.LastChange.UserName}}<br>
                                            {{item.LastChange.Date | amCalendar}}
                                        </span>
                                    </td>

                                    <td>
                                        <!--Главная (4 мероприятия), Персона (Поиск, +), Персона (Подробно, +) <br>
                                        / <a href="#">подробнее</a>, <a href="#">статистика</a>-->
                                    </td>
                                    <td>
                                        <a href="" style="width: 40px" class="persona-table__edit glyphicon glyphicon-floppy-disk" ng-show="item.Changed"
                                           ng-click="saveAntro(item);"></a>
                                        <a href="" class="persona-table__edit glyphicon glyphicon-trash" confirmed-click="deleteAntro($index)"
                                           ng-confirm-click="Удалить эту характеристику?"></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="pull-right">
                            <button class="btn btn-primary btn-lg" ng-show="IsChanged" ng-click="saveAll();"><span class="glyphicon glyphicon-floppy-disk"></span> Сохранить все</button>
                            <button class="btn btn-primary btn-lg" ng-click="addAntro()"><span class="glyphicon glyphicon-plus"></span> Добавить характеристику</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="persona-main__container">
                <div class="col-md-5">
                    <p ng-repeat="item in descriptions">
                        <span class="title">{{item.type}} <a ng-show="item.count > 0">(еще {{item.count}})</a></span> <br>
                        {{item.value}}
                    </p>
                </div>
                <div class="col-md-4">
                    <p ng-show="factlist[0]">
                        <span class="title">{{factlist[0].FactType.Name}}</span> <br>
                        {{factlist[0].FactText}}
                    </p>
                    <p ng-show="factlist[1]">
                        <span class="title">{{factlist[1].FactType.Name}}</span> <br>
                        {{factlist[1].FactText}}
                    </p>
                    <p ng-show="factlist.length - 2 > 0">
                        <span class="title">еще {{factlist.length - 2}}</span> <br>
                    </p>
                </div>

                <div class="col-md-3">
                    <p ng-repeat="item in connections">
                        <span class="title">{{item.name}} <a ng-show="item.count > 0">(еще {{item.count}})</a></span> <br>
                        {{item.value}} <br>
                        {{item.descript}}
                    </p>
                </div>

                <div class="col-md-4">
                    <div class="persona-main__container_media" ng-repeat="item in medias">
                        <span class="title">{{item.type}} <a ng-show="item.count > 0">(еще {{item.count}})</a></span> <br>
                        <img ng-src="{{item.value}}" alt="Placeholder" style="width: 100px; margin-top: 8px;">
                    </div>
                </div>

                <div class="col-md-4">
                    <p ng-repeat="item in links">
                        <span class="title">{{item.type}} </span> <br>
                        <a href="{{item.value}}">
                            <span ng-show="item.descript">{{item.descript}}</span>
                            <span ng-show="!item.descript">ссылка</span>
                        </a>
                    </p>
                </div>

                <div class="col-md-4">
                    <table class="table" ng-show="antro">
                        <tr ng-repeat="row in antro">
                            <td>{{row.AntroName}}</td>
                            <td>{{row.Value}}</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>