<div style="padding: 5px;font-size: 200%">
    <button ng-click="HideUserMenu()" type="button" class="close" data-dismiss="modal">&times;</button>
</div>
<div class="form-group" style="padding-bottom: 20px;">
    <input type="search" class="form-control form-control-search input-lg" id="search"
           placeholder="(быстрый поиск) email, телефон, имя, фамилия, компания, событие, роль">
</div>
<ul class="nav nav-list">
    <li ng-repeat="link in usermenu" ng-class="{ active: isActive('{{ link.href }}') }">
        <a href="/#/main/user/profile/{{ link.id }}">{{ link.title }}</a>
    </li>
</ul>
<div id="plusbutton">
    <button ng-click="PlusClick()" class="btn btn-success btn-lg btn-block"
            style="font-size: 400%;background-color: #6dae79;color:#fff;"><span
            class="glyphicon glyphicon-plus"></span></button>
</div>
<div id="addbutton" style="display:none;padding-top: 10px;">
    <div class="btn-group-vertical btn-block">
        <button ng-click="UserInvite()" class="btn btn-success btn-lg btn-block"
                style="font-size: 120%;background-color: #6dae79;color:#fff;">Пригласить
        </button>
        <button ng-click="UserAdd()" class="btn btn-success btn-lg btn-block"
                style="font-size: 120%;background-color: #6dae79;color:#fff;">Зарегистрировать
        </button>
    </div>
</div>
