<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h3>Notification for change password</h3>
        <br />
        @if (Model.SelfChanged)
        {
            <h4>You change your password.</h4>
        }
        else
        {
            <h4>Your password has been changed.</h4>
        } 
        <p>Your new password is @Model.Password</p>
    </body>
</html>
