<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3>Hello, you was registered in our API.</h3>
    <br>
    <h4>Your credentails for login are:</h4>
    <ol>
        <li>login: @Model.Email</li>
        <li>password: @Model.Password</li>
    </ol>
</body>
</html>
