<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h3>Hello, you requested recovery of the password</h3>
    <br>
    <h4>Your new password is:</h4>
    <ol>
       <li> @Model.Password</li>
    </ol>
</body>
</html>
