<div class="win-container r3 concertCalendarEdit" style="width:1000px;" ng-controller="concertCalendarController">
    <div class="win-header">
        <div class="win-header-text">
            Календарь события
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('concertCalendarEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveCalendar()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'" ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
        </div>
        <div class="row" cg-busy="Promise">
            <div class="col-lg-6">
                <input type="radio" id="notRepeated" ng-checked="!calendar.IsRepeated" ng-click="changeRepeat()" />
                <label for="notRepeated">Разовое событие (может быть только один раз за все время)</label>
            </div>
            <div class="col-lg-6">
                <input type="radio" id="repeated" ng-checked="calendar.IsRepeated" ng-click="changeRepeat()" />
                <label for="repeated">Повторяющееся событие (периодическое или несколько показов за период)</label>
            </div>
        </div>
        <!-- div for one time concert-->
        <div class="panel panel-default">
            <div class="panel-body">

            </div>
        </div>

        <div class="panel">
            <div class="panel">
                <h5>Дата события</h5>
                <i>Укажите даты начала и окончания всей группы событий</i>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <!--<md-content>
                            <md-datepicker ng-model="dateStart" md-placeholder="Дата начала "></md-datepicker>
                        </md-content>-->
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dateStart"
                                   is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                   alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-6" ng-show="calendar.IsRepeated">
                        <!--<md-content>
                            <md-datepicker ng-model="dateEnd" md-placeholder="Дата окончания "></md-datepicker>
                        </md-content>-->
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dateEnd"
                                   is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                   alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-6" ng-show="!calendar.IsRepeated" style="margin-top: -23px;">
                        <div uib-timepicker ng-model="oneSchedule.timeStart" hour-step="1" minute-step="5" show-meridian="false"></div>
                    </div>
                </div>
            </div>
            <!--this for display all time graphs-->
            <div class="panel panel-default" ng-show="calendar.IsRepeated">
                <div class="panel-heading">
                    <h5>Существующие диапазоны</h5>
                </div>
                <div class="panel-body">
                    <div style="white-space: nowrap; overflow-x: scroll; overflow-y: hidden">
                        <div style="width: 200px; margin: 5px;" class="win-container" ng-show="previewWeek.length">
                            <div class="row">
                                <a href="#" ng-click="selectWeekSchedule()">Еженедельные сеансы</a>
                            </div>
                            <div class="row" ng-repeat="item in previewWeek">
                                <div class="col-lg-7">
                                    <span class="label label-default" ng-repeat="el in item.Range">{{el}}</span>
                                    <!--<span class="label label-default">Вт</span>-->
                                </div>
                                <div class="col-lg-5">
                                    <span>{{item.Times | join: ', '}} </span>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-lg-7">
                                    <span class="label label-default">Ср</span>
                                    <span class="label label-default">Чт</span>
                                </div>
                                <div class="col-lg-5">
                                    <span>14:00</span> <span>15:00</span>
                                </div>
                            </div>-->
                        </div>
                        <div style="width: 200px; margin: 5px;" class="win-container" ng-show="previewRange.length">
                            <div class="row">
                                Однократные сеансы
                                <!--<a href="#" ng-click="selectSchedule()">Однократные сеансы</a>-->
                            </div>
                            <div class="row" ng-repeat="item in previewRange">
                                <div class="col-lg-7">
                                    <span class="label label-default">{{item.Dates}}</span>
                                    <!--<span class="label label-default">Вт</span>-->
                                </div>
                                <div class="col-lg-5">
                                    <span><a href="#" ng-click="selectSchedule(item)">{{item.Times | join: ', '}}</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <a href="#" ng-click="selectWeekSchedule()">Добавить еженедельное</a>
                    <a href="#" ng-click="selectSchedule()">Добавить однократное</a>
                </div>
            </div>

            <!--this for one repeat-->
            <div class="panel panel-default" ng-show="schedule">
                <div class="panel-heading">
                    <h5>Редактирование однократного события внутри повторяющегося</h5>
                    <i>Внесите сюда дополнительные показы либо однократные показы в рамках одного события. Например, концерт 10, 12 и 14 числа, либо дополнительно к еженедельным сеансам показ 18 числа</i>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="radio" name="oneDay" ng-checked="!schedule.dateEnd" ng-click="changeOneDay()" /> Одна дата
                            <br />
                            <i>Если показ будет проходить только один день</i>
                        </div>
                        <div class="col-lg-6">
                            <input type="radio" name="oneDay" ng-checked="schedule.dateEnd" ng-click="changeOneDay(schedule.dateStart)" /> Период дат
                            <br />
                            <i>Если несколько дней подряд</i>
                        </div>
                        <!--if one date-->
                        <div class="panel" ng-show="!schedule.dateEnd">
                            <div class="row">
                                <div class="col-lg-6">
                                    <md-content>
                                        <md-datepicker ng-model="schedule.dateStart" md-placeholder="Дата начала "></md-datepicker>
                                    </md-content>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-8">
                                    <i>В эту дату мероприятия пройдут:</i>
                                    <br />
                                    <span class="label label-default" ng-repeat="item in schedule.Schedules">{{getTime(item)}}</span>
                                    <!--<span class="label label-default">13:00</span>
                                    <span class="label label-default">14:00</span>-->
                                </div>
                                <div class="col-lg-4">
                                    <div uib-timepicker ng-model="addedTime" hour-step="1" minute-step="5" show-meridian="false"></div>
                                    <br />
                                    <button class="btn btn-info" ng-click="addToRange()">Добавить в список</button>
                                    <br />
                                    <button class="btn btn-info" ng-click="clearRange()">Очистить список</button>
                                </div>
                            </div>
                        </div>

                        <!--if periodic-->
                        <div class="panel" ng-show="schedule.dateEnd">
                            <div class="row">
                                <div class="col-lg-6">
                                    <!--<md-content>
                                        <md-datepicker ng-model="schedule.dateStart" md-placeholder="Дата начала "></md-datepicker>
                                    </md-content>-->
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="schedule.dateStart"
                                               is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                               alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-lg-6">
                                    <!--<md-content>
                                        <md-datepicker ng-model="schedule.dateEnd" md-placeholder="Дата окончания "></md-datepicker>
                                    </md-content>-->
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="schedule.dateEnd"
                                               is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                               alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-lg-8">
                                    <i>В эти даты мероприятия пройдут:</i>
                                    <br />
                                    <span class="label label-default" ng-repeat="item in schedule.Schedules">{{getTime(item)}}</span>
                                    <!--<span class="label label-default">13:00</span>
                                    <span class="label label-default">14:00</span>-->
                                </div>
                                <div class="col-lg-4">
                                    <div uib-timepicker ng-model="addedTime" hour-step="1" minute-step="5" show-meridian="false"></div>
                                    <br />
                                    <button class="btn btn-info" ng-click="addToRange()">Добавить в список</button>
                                    <br />
                                    <button class="btn btn-info" ng-click="clearRange()">Очистить список</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--this for weekly-->
            <div class="panel" ng-show="weekSchedule">
                <div class="row">
                    <div class="col-lg-6">
                        <!--<md-content>
                            <md-datepicker ng-model="weekDayStart" md-placeholder="Дата начала "></md-datepicker>
                        </md-content>-->
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="weekDayStart"
                                   is-open="popup5.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                   alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open5()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                        <!--<md-content>
                            <md-datepicker ng-model="weekDayEnd" md-placeholder="Дата окончания "></md-datepicker>
                        </md-content>-->
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="weekDayEnd"
                                   is-open="popup6.opened" datepicker-options="dateOptions" ng-required="true" close-text="Закрыть"
                                   alt-input-formats="dd.MM.yyyy" clear-text="Очистить" current-text="Сегодня" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open6()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <i>Добавьте время в дни недели</i>
                <br />
                <table class="table">
                    <thead>
                        <tr>
                            <th>Пн</th>
                            <th>Вт</th>
                            <th>Ср</th>
                            <th>Чт</th>
                            <th>Пт</th>
                            <th>Сб</th>
                            <th>Вс</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in weekSchedule">
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 1">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 2">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 3">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 4">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 5">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 6">{{getTime(item)}}</span></td>
                            <td><span class="label label-default" ng-show="item.WeekDays | inArray : 0">{{getTime(item)}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <br />

                <div class="row">
                    <div class="col-lg-4" style="margin-top: 12px;">
                        <i>Добавить время в указанный день</i>
                        <select class="form-control" ng-model="weekDay" ng-options="item.Id as item.Name for item in weekDays">
                            <option value="1">понедельник</option>
                            <option value="2">вторник</option>
                            <option value="3">среда</option>
                            <option value="4">четверг</option>
                            <option value="5">пятница</option>
                            <option value="6">суббота</option>
                            <option value="0">воскресенье</option>
                        </select>
                        <br />
                        <a href="#" ng-click="clearWeek()">Очистить этот день</a>
                    </div>
                    <div class="col-lg-4">
                        <div uib-timepicker ng-model="timeStartWeek" hour-step="1" minute-step="5" show-meridian="false"></div>
                    </div>
                    <div class="col-lg-4" style="margin-top: 29px;">
                        <button class="btn btn-default" ng-click="addTimeWeek()">Добавить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>