<div class="win-container r3 concertProgrammEdit" style="width:500px;" ng-controller="concertProgrammController">
    <div class="win-header">
        <div class="win-header-text">
            Программа события
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('concertProgrammEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveProgramm()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="col-lg-6">
                <input type="radio" name="programmType"/>Одна программа для всех участников
            </div>
            <div class="col-lg-6">
                <input type="radio" name="programmType"/>Каждый участник со своей программой
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">

        </div>
    </div>
</div>