<!--Body content-->
<!--список пользователей -->
<div class="space"></div>
<div class="container-fluid">
    <form class="row" role="form">
        <div class="form-group col-md-8">
            <input type="search" class="form-control form-control-search input-lg" id="search"
                   placeholder="(быстрый поиск) email, телефон, имя, фамилия, компания, событие, роль">
        </div>
        <div class="form-group col-md-3 col-md-offset-1">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Сохранить изменения</button>
            <div class="text-primary">Все изменения сохранены 27.07.2016 18.08.44</div>
        </div>
    </form>
</div>
<div class="space"></div>
<table class="table table-hover mytable">
    <thead>
    <tr class="bg-gray">
        <th class="row col-md-2"><span class="col-md-8 text-nowrap">Имя <span
                class="glyphicon glyphicon-chevron-down"></span></span> <span
                class="col-md-4 text-right text-nowrap"><span
                class="glyphicon glyphicon-sort-by-attributes"></span></span></th>
        <th class="row col-md-2"><span class="col-md-8 text-nowrap">Компания <span
                class="glyphicon glyphicon-chevron-down"></span></span> <span
                class="col-md-4 text-right text-nowrap"><span
                class="glyphicon glyphicon-th-list"></span>&nbsp;<span
                class="glyphicon glyphicon-sort-by-attributes"></span></span></th>
        <th class="text-nowrap col-md-4">События <span class="glyphicon glyphicon-chevron-down"></span></th>
        <th class="text-nowrap col-md-2">Роль <span class="glyphicon glyphicon-chevron-down"></span></th>
        <th class="row col-md-2"><span class="col-md-8 text-nowrap">Статус <span
                class="glyphicon glyphicon-chevron-down"></span></span> <span
                class="col-md-4 text-right text-nowrap"><span
                class="glyphicon glyphicon-th-list"></span>&nbsp;<span
                class="glyphicon glyphicon-sort-by-attributes"></span></span></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in userlist">
        <td class="td-username">
            <div class="head" ng-if="row.fname||row.sname">{{ row.fname }} {{ row.sname }}</div>
            <div class="head" ng-if="row.invite">Приглашение</div>
            <div class="text small">{{ row.email }}<br>{{ row.phone }}</div>
            <a href="/#/main/user/profile/{{row.id}}">перейти в профиль</a></td>
        <td>{{ row.company }}</td>
        <td ng-class="row.active === true?'text-success':''">{{ row.event }}</td>
        <td>{{ row.role }}</td>
        <td class="{{row.statusclass}}">
            {{ row.status }}
            <button ng-if="row.button" class="btn btn-success">{{ row.button }}</button>
        </td>
    </tr>
    </tbody>
</table>


