<!--Body content-->
<!--список пользователей -->
<div class="space"></div>
<div class="container-fluid">
    <form class="row" role="form">
        <div class="form-group col-md-16">
            <input type="search" class="form-control form-control-search input-lg" id="search"
                   placeholder="(быстрый поиск) email, телефон, имя, фамилия, компания, событие, роль"
                   ng-model="searchUser">
        </div>
        <div class="form-group col-md-8 text-right">
            <button type="submit" class="btn btn-primary btn-lg">Сохранить изменения</button>
            <div class="text-primary text-right small">Все изменения сохранены 27.07.2016 18.08.44</div>
        </div>
    </form>
</div>
<table class="table table-hover mytable">
    <thead>
    <tr class="bg-gray">
        <th class="text-nowrap col-md-4">
            <a href="" ng-click="sortFName==''?sortFName = 'fname':sortFName = '';">
                Имя
                <span ng-show="sortFName" class="glyphicon glyphicon-chevron-down"></span></a>

            <a href="" ng-click="sortReverseFName = !sortReverseFName">
                <span style="display: block;float: right;" ng-show="sortFName == 'fname' && !sortReverseFName" class="glyphicon glyphicon-sort-by-attributes"></span>
                <span style="display: block;float: right;" ng-show="sortFName == 'fname' && sortReverseFName" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </a>

        </th>
        <th class="text-nowrap col-md-4">
            <a href="" ng-click="sortCompany==''?sortCompany = 'company':sortCompany = '';">
                Компания
                <span ng-show="sortCompany" class="glyphicon glyphicon-chevron-down"></span></a>
            <a href="" ng-click="sortReverseCompany = !sortReverseCompany">
                <span style="display: block;float: right;" ng-show="sortCompany == 'company' && !sortReverseCompany" class="glyphicon glyphicon-sort-by-attributes"></span>
                <span style="display: block;float: right;" ng-show="sortCompany == 'company' && sortReverseCompany" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </a>
        </th>
        <th class="text-nowrap col-md-8">
            <a href="" ng-click="sortEvent==''?sortEvent = 'event':sortEvent = '';">
                События
                <span ng-show="sortEvent" class="glyphicon glyphicon-chevron-down"></span></a>
            <a href="" ng-click="sortReverseEvent = !sortReverseEvent">
                <span style="display: block;float: right;" ng-show="sortEvent == 'event' && !sortReverseEvent" class="glyphicon glyphicon-sort-by-attributes"></span>
                <span style="display: block;float: right;" ng-show="sortEvent == 'event' && sortReverseEvent" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </a>
        </th>
        <th class="text-nowrap col-md-4">
            <a href="" ng-click="sortRole==''?sortRole = 'role':sortRole = '';">
                Роль
                <span ng-show="sortRole" class="glyphicon glyphicon-chevron-down"></span></a>
            <a href="" ng-click="sortReverseRole = !sortReverseRole">
                <span style="display: block;float: right;" ng-show="sortRole && !sortReverseRole" class="glyphicon glyphicon-sort-by-attributes"></span>
                <span style="display: block;float: right;" ng-show="sortRole && sortReverseRole" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </a>
        </th>
        <th class="text-nowrap col-md-4">
            <a href="" ng-click="sortStatus==''?sortStatus = 'status':sortStatus = '';">
                Статус
                <span ng-show="sortStatus" class="glyphicon glyphicon-chevron-down"></span></a>
            <a href="" ng-click="sortReverseStatus = !sortReverseStatus">
                <span style="display: block;float: right;" ng-show="sortStatus && !sortReverseStatus" class="glyphicon glyphicon-sort-by-attributes"></span>
                <span style="display: block;float: right;" ng-show="sortStatus && sortReverseStatus" class="glyphicon glyphicon-sort-by-attributes-alt"></span>
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in userlist | filter:searchUser | orderBy:sortFName:sortReverseFName | orderBy:sortCompany:sortReverseCompany | orderBy:sortEvent:sortReverseEvent | orderBy:sortRole:sortReverseRole | orderBy:sortStatus:sortReverseStatus ">
        <td class="td-username">
            <div class="head" ng-if="row.fname||row.sname">{{ row.fname }} {{ row.sname }}</div>
            <div class="head" ng-if="row.invite">Приглашение</div>
            <div class="text small">{{ row.email }}<br>{{ row.phone }}</div>
            <a href="/#/main/user/profile/{{row.id}}">перейти в профиль</a></td>
        <td>{{ row.company }}</td>
        <td ng-class="row.active === true?'text-success':''">{{ row.event }}</td>
        <td>{{ row.role }}</td>
        <td class="{{row.statusclass}}">
            {{ row.status }}
            <button ng-if="row.button" class="btn btn-success">{{ row.button }}</button>
        </td>
    </tr>
    </tbody>
</table>


