<!--Body content-->
<h1>Регистрация
    <span class="weight-normal">нового пользователя</span>
</h1>
<div class="space-lg"></div>
<div class="container-fluid">
    <form name="form" novalidate>
        <div class="col-md-6">
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Имя" name="fname" ng-model="user.fname"
                       required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Фамилия" name="sname"
                       ng-model="user.sname" required>
            </div>
            <div class="space"></div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Компания">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Должность">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" name="email" ng-model="user.email"
                       ng-pattern="emailpattern" required>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="usr" placeholder="Телефон">
            </div>
            <div class="space"></div>
            <div class="form-group mycheckbox">
                <label>
                    <input type="checkbox" ng-click="generatePassword()" id="generatePassword" value="">
                    <span ng-if="passtype=='text'" class="glyphicon glyphicon-ok"></span>
                    <span ng-if="passtype=='password'" class="glyphicon"></span>
                    Сгенерировать пароль автоматически
                </label>
            </div>
            <div class="form-group">
                <input type="{{passtype}}" class="form-control" placeholder="Пароль" name="password"
                       ng-model="user.password" ng-minlength="5" required>
            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group mycheckbox text-nowrap">
                <label>
                    <input type="checkbox" value="" name="noletter" ng-model="user.noletter">
                    <span ng-if="user.noletter" class="glyphicon glyphicon-ok"></span>
                    <span ng-if="!user.noletter" class="glyphicon"></span>
                    Не отправлять Welcom Letter и др. письма
                </label>
            </div>
            <div class="space"></div>
            <div class="form-group">
                <select name="role" id="role"
                        ng-model="user.role" class="form-control"
                        ng-options="role.id as role.name for role in roles"
                        required>
                    <option value="">Выберите роль</option>
                </select>
                <label for="role" class="small text-muted">Роль для ограничения прав</label>
            </div>
            <div class="space"></div>
            <div class="form-actions">
                <button type="button" ng-click="register(user)" class="btn btn-primary btn-lg">Зарегистрировать</button>
            </div>
        </div>
    </form>
</div>
<div>
    <div class="help-block" ng-messages="form.fname.$error" ng-if="submitted">
        <div ng-message="required">Имя обязательно для заполнения</div>
    </div>
    <div class="help-block" ng-messages="form.sname.$error" ng-if="submitted">
        <div ng-message="required">Фамилия обязательно для заполнения</div>

    </div>
    <div class="help-block" ng-messages="form.email.$error" ng-if="submitted">
        <div ng-message="required">Email обязательно для заполнения</div>
        <div ng-message="email">Неверный формат Email</div>
        <div ng-message="pattern">Неверный формат Email</div>
    </div>
    <div class="help-block" ng-messages="form.role.$error" ng-if="submitted">
        <div ng-message="required">Не выбрано значение Роли</div>
    </div>
    <div class="help-block" ng-messages="form.password.$error" ng-if="submitted">
        <div ng-message="required">Пароль обязателен для заполнения</div>
        <div ng-message="minlength">Пароль не менее 5 символов</div>
    </div>
</div>
<!--</div>-->

