<div class="win-container r5 disPersonNotesAdesEdit" style="width:600px;" ng-controller="personNotesAdesEditController">
    <div class="win-header">
        <div class="win-header-text">
            Редактирование описания
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotesAdesEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveNotesAdes()">
                <span class="fa fa-save"></span> Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="com-md-12">
                <div ng-class="errorYes ? 'messager messager_error':'messager messager_sucsses'"  ng-show="showMessage">
                    <p ng-bind="message"></p>
                    <a href="#" ng-click="showMessage = false"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </div>
            </div>
            <div class="col-lg-5">
                <h5>Ключи</h5>
                <textarea style="width:100%; min-height:100px;" />
                <br/>

                <h5>Связь</h5>
                <select class="form-control">
                    <option selected="selected">Персона</option>
                </select>
                <h5>Характеристика</h5>
                <select class="form-control">
                    <option selected="selected">Антропометрия</option>
                </select>
                <h5>Данные</h5>
                <select class="form-control">
                    <option selected="selected">Длина ноги</option>
                </select>
                <br/>
                <div class="row">
                    <div class="col-lg-4">
                        <select class="form-control">
                            <option>></option>
                            <option><</option>
                        </select>
                    </div>
                    <div class="col-lg-4">
                        <input class="form-control"/>
                    </div>
                    <div class="col-lg-4">
                        <select class="form-control">
                            <option>см</option>
                            <option>кг</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <h5>Подходящие факты</h5>
                <input type="radio" />Факт 1
                <br/>
                <input type="radio" />Факт 2
                <br />
                <input type="radio" />Факт 3
            </div>
        </div>
    </div>
</div>