<div class="win-container r5 disPersonNotesAdesEdit" style="width:600px;" ng-controller="personNotesAdesEditController">
    <div class="win-header">
        <div class="win-header-text">
            Редактирование описания
        </div>
        <div class="win_buttons">
            <a href="#" ng-click="closeMe('disPersonNotesAdesEdit')"><span class="glyphicon glyphicon-remove-sign"></span></a>
        </div>
    </div>
    <div class="win-menu">
        <div class="win-menu-button">
            <a href="#" ng-click="saveNotesAdes()">
                <span class="fa fa-save"></span>
                <br />
                Сохранить
            </a>
        </div>
    </div>
    <div class="win-content">
        <div class="row">
            <div class="col-lg-7">
                <h5>Текст</h5>
                <textarea style="width:100%; min-height:200px;"/>
                <br/>
                <h5>Ключи</h5>
                <textarea style="width:100%; min-height:100px;" />
            </div>
            <div class="col-lg-5">
                <!--TODO: add selects-->
            </div>
        </div>
    </div>
</div>