<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  
  </configSections>
  <connectionStrings>
    <add name="Getticket.Web.API.Properties.Settings.GetticketConection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Getticket;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!--<add name="Getticket.Web.API.Properties.Settings.GetticketConection" connectionString="Server=tcp:getticket.database.windows.net,1433;Initial Catalog=Getticket;Persist Security Info=False;User ID=dtc@getticket;Password=AsderA2201;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
